@model List<Kuyam.WebUI.Models.AppointmentFeedbackModel>
@using Kuyam.Database
@{
    bool isOdd = false;
    int totalRecord = 0;
    totalRecord = ViewBag.TotalRecords;
}
@if (Model != null)
{
    <table border='0' cellpadding="0" cellspacing="0" class="tbldata" width="500" id="ddlUsers">
        <tr>
            <th style="text-align: center;">
                company name
            </th>
            <th style="text-align: center;">
                email
            </th>
            <th style="text-align: center; width: 150px;">
                appointment
            </th>
            <th style="text-align: center; width: 150px;">
                public content
            </th>
            <th style="text-align: center; width: 150px;">
                private content
            </th>
        </tr>
        @foreach (Kuyam.WebUI.Models.AppointmentFeedbackModel item in Model)
        {
            string addClass = "";
            if (isOdd)
            {
                addClass = "class=odd";
                isOdd = false;

            }
            else
            {
                isOdd = true;
            }
            <tr @addClass>
                <td style="width:100px;">
                    <span title="@item.CompanyName">@(Kuyam.Domain.UtilityHelper.TruncateText(item.CompanyName, 15))</span>
                </td>
                <td>
                    <span title="@item.Email">@Kuyam.Domain.UtilityHelper.TruncateText(@item.Email, 20)</span>
                </td>
                @*<td>
                    <span>@item.FirstName</span>
                </td>
                <td>
                    <span>@item.LastName</span>
                </td>*@
                <td>
                    @if (item.Appointment != null)
                    {
                        var emplyeeName = item.Appointment.CompanyEmployee != null ? item.Appointment.CompanyEmployee.EmployeeName : string.Empty;
                        var duration = item.Appointment.ServiceCompany != null ? item.Appointment.ServiceCompany.Duration : 0;
                        var price = item.Appointment.ServiceCompany != null ? item.Appointment.ServiceCompany.Price : 0;
                        var attendees = item.Appointment.ServiceCompany != null ? item.Appointment.ServiceCompany.AttendeesNumber : 0;
                        string aptname = string.Format("{0}, {1}min, ${2}, {3} person", @emplyeeName, @duration, @price, @attendees);
                        <span title="@aptname">@Kuyam.Domain.UtilityHelper.TruncateText(aptname, 20)</span>
                    }
                </td>
                <td style="word-wrap: break-word; width: 200px;">
                    <span>@item.Content</span>
                </td>
                <td style="word-wrap: break-word; width: 200px;">
                    <span>@item.PrivateContent</span>
                </td>
            </tr>
        }
    </table>

    <table cellpadding="0" cellspacing="0" border="0" class="tbldata">
        <tr class="odd">
            <td>
                <input type="hidden" id="currentPage" value="@ViewBag.Page" />
                @{ 
        int from = (ViewBag.Page - 1) * 10 + 1;
        int to = ViewBag.Page * 10;
        if (to > totalRecord)
        {
            to = totalRecord;
        }
        int lastPage = 0;
        if (totalRecord % 10 == 0)
        {
            lastPage = totalRecord / 10;
        }
        else
        {
            lastPage = totalRecord / 10 + 1;
        }
               
            
                    <div class="fLeft mt4" style="float: left;">
                        @if (totalRecord > 0)
                        {
                            <span>@from - @to of </span>
                            <span><strong>@totalRecord results</strong></span>
                        }
                    </div>
                }
            </td>
            <td class="paging" style="text-align: right;">
                @{
                        if (totalRecord > 0)
                        {
                    <div class="paging">
                        @if (ViewBag.Page > 1)
                        {
                    
                            <a onclick="pagingEvent(@(ViewBag.Page - 1))" title="previous">&lt;</a>
                        }
                        @if (lastPage >= 5 && ((ViewBag.Page == lastPage - 1) || ViewBag.Page == lastPage))
                        {
                            if (ViewBag.Page == 4)
                            {
                            <a  onclick="pagingEvent(@(ViewBag.Page - 3))" pageIndex="@(ViewBag.Page - 3)" title="@(ViewBag.Page - 3)">@(ViewBag.Page - 3)</a>
                            }
                            if (ViewBag.Page > 4)
                            {
                            <a onclick="pagingEvent(1)" title="previous">1</a>
                            <span class="borderNone p0 ml4 dotmore">...</span>
                        
                            }
                    
                            <a  onclick="pagingEvent(@(ViewBag.Page - 2))" pageIndex="@(ViewBag.Page - 2)" title="@(ViewBag.Page - 2)">@(ViewBag.Page - 2)</a>
                            <a  onclick="pagingEvent(@(ViewBag.Page - 1))" pageIndex="@(ViewBag.Page - 1)" title="@(ViewBag.Page - 1)">@(ViewBag.Page - 1)</a>
                        }
                        @if (ViewBag.Page > 1 && ViewBag.Page < lastPage - 1)
                        {

                            if (ViewBag.Page == 3)
                            {
                            <a onclick="pagingEvent(1)" title="previous">1</a>
                            }
                            if (ViewBag.Page > 3)
                            {
                            <a onclick="pagingEvent(1)" title="previous">1</a>
                            <span class="borderNone p0 ml4 dotmore">...</span>
                        
                            }
                            <a  onclick="pagingEvent(@(ViewBag.Page - 1))" pageIndex="@(ViewBag.Page - 1)" title="@(ViewBag.Page - 1)">@(ViewBag.Page - 1)</a>
                        }
                        <span class="active" title="@ViewBag.Page">@ViewBag.Page</span>
                        @if (ViewBag.Page + 1 < lastPage)
                        {
                            <a  onclick="pagingEvent(@(ViewBag.Page + 1))" pageIndex="@(ViewBag.Page + 1)" title="@(ViewBag.Page + 1)">@(ViewBag.Page + 1)</a>
                        }
                        @if (ViewBag.Page + 2 < lastPage)
                        {
                            <a  onclick="pagingEvent(@(ViewBag.Page + 2))" pageIndex="@(ViewBag.Page + 2)" title="@(ViewBag.Page + 2)">@(ViewBag.Page + 2)</a>
                        }
                        @if (ViewBag.Page + 3 < lastPage)
                        {
                            <span class="borderNone p0 ml4 dotmore">...</span>
                        }
                        @if (ViewBag.Page < lastPage)
                        {
                            <a  onclick="pagingEvent(@lastPage)" pageIndex="@lastPage" title="@lastPage">@lastPage</a>
                            <a  onclick="pagingEvent(@(ViewBag.Page + 1))" title="next">&gt;</a>
                        }
                    </div>
                    <div class="clear">
                    </div>
                        }
                }
            </td>
        </tr>
    </table>
}
