@{
    int searchType = ViewBag.SearchType == null ? -1 : ViewBag.SearchType;
    int userListPageIndex = ViewBag.UserListPageIndex ?? 1;
    string key = ViewBag.Key ?? "";

    int totalRecord = 0;
    bool isOdd = false;
    if (ViewBag.CompanyList != null)
    {
        totalRecord = ViewBag.TotalRecords;

    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtKey").focus();
        $("#contentmainpage").keypress(function (e) {
            var kCode = e.keyCode || e.charCode;
            if (kCode == 13) {
                FilterSearchResultPageReview();
                return false;
            }
        });
    });
</script>
<table id="tblcompanies" border='0' cellpadding="0" cellspacing="0" class="tbldata"
    width="500">
    <tr>
        <th>
            name
        </th>
        <th>
            street
        </th>
        <th>
            city
        </th>
        <th>
            phone
        </th>
        <th>
            email
        </th>
        <th>
            status
        </th>
        <th>
            error message
        </th>
            
    </tr>
    @foreach (Kuyam.Database.ProfileCompanyTemp company in ViewBag.CompanyList)
    {
        string addClass = "";
        if (isOdd)
        {
            addClass = "class=odd";
            isOdd = false;

        }
        else
        {
            isOdd = true;
        }
        var phone = @Kuyam.Domain.UtilityHelper.FormatPhone(company.Phone);
        <tr @addClass>
            <td>
                @{
        var Name = !string.IsNullOrEmpty(company.Name) ? @company.Name.Replace("$34$", "'") : string.Empty;
}
@Name
                @*@Html.DisplayFor(modelItem => company.Name)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => company.Street1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => company.City)
            </td>
            <td style="width: 100px;">
                @Html.DisplayFor(modelItem => phone)
            </td>
            <td>
                <a href='mailto:@company.Email' title='@company.Email'>@Kuyam.Domain.UtilityHelper.TruncateText(company.Email, 20)</a>
                @*@Html.DisplayFor(modelItem => company.Email)*@
            </td>
            <td>
                @if (company.Status == 0)
                {
                    <span>error</span>
                }
                else
                {
                    <span>ready</span>
                }
            </td>
            <td>
                @{
                    var er = !string.IsNullOrEmpty(company.ErrorMessage) ? @company.ErrorMessage.Replace("$34$", "'") : string.Empty;
                }
                @er
            </td>
           
        </tr>
    }
</table>
<table class="tbldata" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr class="odd">
            <td>
                <input type="hidden" id="currentPage" value="@ViewBag.Page" />
                @{ 
                    int from = (ViewBag.Page - 1) * 10 + 1;
                    int to = ViewBag.Page * 10;
                    if (to > totalRecord)
                    {
                        to = totalRecord;
                    }
                    int lastPage = 0;
                    if (totalRecord % 10 == 0)
                    {
                        lastPage = totalRecord / 10;
                    }
                    else
                    {
                        lastPage = totalRecord / 10 + 1;
                    }
               
            
                    <div class="fLeft mt4" style="float: left;">
                        @if (totalRecord > 0)
                        {
                            <span>@from - @to of </span>
                            <span><strong>@totalRecord results</strong></span>
                        }
                    </div>
                }
            </td>
            <td class="paging" style="text-align: right;">
                @{
                    if (totalRecord > 0)
                    {
                    <div class="paging">
                        @if (ViewBag.Page > 1)
                        {
                            <a onclick="pagingEvent(@(ViewBag.Page - 1))" title="previous">&lt;</a>
                
                        }
                        @if (lastPage >= 5 && ((ViewBag.Page == lastPage - 1) || ViewBag.Page == lastPage))
                        {
                            if (ViewBag.Page == 4)
                            {
                            <a  onclick="pagingEvent(@(ViewBag.Page - 3))" pageIndex="@(ViewBag.Page - 3)" title="@(ViewBag.Page - 3)">@(ViewBag.Page - 3)</a>
                            }
                            if (ViewBag.Page > 4)
                            {
                            <a onclick="pagingEvent(1)" title="previous">1</a>
                            <span class="borderNone p0 ml4 dotmore">...</span>
                        
                            }
                    
                            <a  onclick="pagingEvent(@(ViewBag.Page - 2))" pageIndex="@(ViewBag.Page - 2)" title="@(ViewBag.Page - 2)">@(ViewBag.Page - 2)</a>
                            <a  onclick="pagingEvent(@(ViewBag.Page - 1))" pageIndex="@(ViewBag.Page - 1)" title="@(ViewBag.Page - 1)">@(ViewBag.Page - 1)</a>
                        }
                        @if (ViewBag.Page > 1 && ViewBag.Page < lastPage - 1)
                        {

                            if (ViewBag.Page == 3)
                            {
                            <a onclick="pagingEvent(1)" title="previous">1</a>
                            }
                            if (ViewBag.Page > 3)
                            {
                            <a onclick="pagingEvent(1)" title="previous">1</a>
                            <span class="borderNone p0 ml4 dotmore">...</span>
                        
                            }
                            <a  onclick="pagingEvent(@(ViewBag.Page - 1))" pageIndex="@(ViewBag.Page - 1)" title="@(ViewBag.Page - 1)">@(ViewBag.Page - 1)</a>
                        }
                        <span class="active" title="@ViewBag.Page">@ViewBag.Page</span>
                        @if (ViewBag.Page + 1 < lastPage)
                        {
                            <a  onclick="pagingEvent(@(ViewBag.Page + 1))" pageIndex="@(ViewBag.Page + 1)" title="@(ViewBag.Page + 1)">@(ViewBag.Page + 1)</a>
                        }
                        @if (ViewBag.Page + 2 < lastPage)
                        {
                            <a  onclick="pagingEvent(@(ViewBag.Page + 2))" pageIndex="@(ViewBag.Page + 2)" title="@(ViewBag.Page + 2)">@(ViewBag.Page + 2)</a>
                        }
                        @if (ViewBag.Page + 3 < lastPage)
                        {
                            <span class="borderNone p0 ml4 dotmore">...</span>
                        }
                        @if (ViewBag.Page < lastPage)
                        {
                            <a  onclick="pagingEvent(@lastPage)" pageIndex="@lastPage" title="@lastPage">@lastPage</a>
                            <a  onclick="pagingEvent(@(ViewBag.Page + 1))" title="next">&gt;</a>
                        }
                    </div>
                    <div class="clear">
                    </div>
                    }
                }
            </td>
        </tr>
    </tbody>
</table>
