
 <div class="footer">
            <div class="fcontent">
                <a href="" class="logo" title="kuyam"><img alt="Kuyam" src="../../images/kuyam_footer_logo.png" /></a>
                <ul class="menu">
                    <li><a href="/home/howitworks_user" title="how it works">how it works</a></li>
                    <li><a href="/about" title="team">our story</a></li>
                    <li><a href="/home/faq" title="faq">faq</a></li>
                </ul>
                <ul class="menu col2">
                    <li><a href="contact" title="contact">contact us</a></li>
                    <li><a id="terms" href="#" title="terms &amp; privacy" onclick='return false;'>terms & privacy</a></li>
                    <li><a href="http://kuyam.org" title="kuyam.org">kuyam.org</a></li>
                </ul>
                
                <span>copyright © 2013 kuyam companies, inc. all rights reserved patend pending.</span>
                <ul class="medialogo">
                    <li style="margin-right: 36px;"><a target="_blank" href="https://www.mcafeesecure.com/RatingVerify?ref=kuyam.com">
                            <img width="65" height="37" border="0" src="//images.mcafeesecure.com/meter/kuyam.com/55.gif" 
                                 alt="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" 
                                 oncontextmenu="alert('Copying Prohibited by Law - McAfee SECURE is a Trademark of McAfee, Inc.'); return false;">
                        </a>
                    </li>
                    <li><a href="http://www.facebook.com/" class="fb" target="_blank" title="facebook"></a></li>
                    <li><a href="https://twitter.com/" class="tw" target="_blank" title="twitter"></a></li>
                    <li><a href="http://www.youtube.com/" target="_blank" class="yt" title="youtube"></a></li>
                    <li><a href="http://www.tumblr.com/" target="_blank" class="tt"  title="tumblr"></a></li>
                    <li><a href="http://pinterest.com/" target="_blank" class="na"  title="pinterest"></a></li>
                </ul>
            </div>
    </div>    
 <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-35978406-1']);
     _gaq.push(['_setDomainName', 'kuyam.com']);
     _gaq.push(['_trackPageview']);

     (function () {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
</script>
@* <div class="FooterBasic">*@
     
      @*<div class="FooterBasicContent">
            <div class="FooterColumn">
              <a href="@Url.Content("~/home/haircut")">
                <img src="@Url.Content("~/Images/Footer/KuyamSquareTilted.png")" alt="Kuyam" />
              </a>
            </div>

            <div class="FooterColumn">
              @Html.ActionLink("our story", "haircut", "home")
              <br /><img src=@Url.Content("~/Images/Footer/FooterLine.gif") /><br />

              @Html.ActionLink("about", "about", "home")
              <br /><img src=@Url.Content("~/Images/Footer/FooterLine.gif") /><br />

              <!--<a href="">faq</a>-->
              @Html.ActionLink("faq", "faq", "home")
              <br /><img src=@Url.Content("~/Images/Footer/FooterLine.gif") /><br />
            </div>
      
            <div class="FooterColumn">
              @Html.ActionLink("contact", "contact", "home")
              <br /><img src=@Url.Content("~/Images/Footer/FooterLine.gif") /><br />

             

              <a href="javascript:showPopUpDialog('@Url.Content("~/home/privacy-security")', 'privacy & security')" class="dialoglink">privacy</a>
              <br /><img src=@Url.Content("~/Images/Footer/FooterLine.gif") /><br />
            </div>
      
            <div class="FooterColumn">
              featured locations:<br />
              los angeles, ca
            </div>

            <div class="FooterColumn Right">
              copyright © 2012 kuyam companies, inc. all rights reserved. patent pending.
              <br /><br />

              <a href="https://www.facebook.com/mykuyam">
              <img src="@Url.Content("~/images/Footer/facebook.png")" alt="facebook" />
              </a>

              <a href="https://www.twitter.com/mykuyam">
              <img src="@Url.Content("~/images/Footer/twit.png")" alt="twitter" />
              </a>

              <a href="http://www.youtube.com/user/mykuyam">
              <img src="@Url.Content("~/images/Footer/youtube.png")" alt="youtube" />
              </a>

              <a href=" http://kuyam.tumblr.com/">
              <img src="@Url.Content("~/images/Footer/tumblr.png")" alt="tumblr" />
              </a>
              
              <a href=" http://pinterest.com/kuyam/">
              <img src="@Url.Content("~/images/Footer/pint32.png")" alt="tumblr" />
              </a>           
            </div>
      
            <div class="clearfix" />
      </div>*@

@*<div class="fcontent">
    <a href="" class="logo" title="Kuyam">
        <img alt="Kuyam" src="/images/kuyam_footer_logo.png" /></a>
    <ul class="menu">
        <li><a href="/home/haircut" title="how it works">how it works</a></li>
        <li><a href="/about" title="team">team</a></li>
        <li><a href="/home/faq" title="faq">faq</a></li>
    </ul>
    <ul class="menu col2">
        <li><a href="/contact" title="contact">contact</a></li>
        <li><a href="#" title="terms &amp; privacy">terms &amp; privacy</a></li>
        <li><a href="#" title="kuyam.org">kuyam.org</a></li>
    </ul>
    <span>copyright © 2012 kuyam companies, inc. all rights reserved patend pending.</span>
    <ul class="medialogo">
        <li><a href="http://www.facebook.com/mykuyam" class="fb" target="_blank" title="facebook"></a>
        </li>
        <li><a href="https://twitter.com/mykuyam" class="tw" target="_blank" title="twitter"></a>
        </li>
        <li><a href="http://www.youtube.com/user/mykuyam" target="_blank" class="yt" title="youtube"></a>
        </li>
        <li><a href="http://kuyam.tumblr.com/" target="_blank" class="tt" title="tumblr"></a>
        </li>
        <li><a href="http://pinterest.com/kuyam/" target="_blank" class="na" title="pinterest"></a>
        </li>
    </ul>
</div>*@
