@model Kuyam.WebUI.Models.HotelModel
@using Kuyam.Database
@Html.ValidationSummary(true)
<style type="text/css">
    body
    {
        color: red;
    }
    
    .tbldata td span
    {
        color: red;
        text-align: left;
    }
</style>
<fieldset>
    <div style="width: 100%">
        <table cellpadding="1" cellspacing="1" border="0" class="tbldata" width="100%">
            <tr>
                <td style="width: 100px;">
                   hotel name
                </td>
                <td>
                     @Html.TextBoxFor(model => model.Name, new { maxlength = 100, @style = "width:300px;" })
                    &nbsp; @Html.ValidationMessageFor(m => m.Name)
                </td>
            </tr>
            <tr>
                <td style="width: 100px;">
                    hotel admin
                </td>
                <td>
                     @if (User.IsInRole("Admin") || User.IsInRole("Agent"))
                     {
                       @Html.DropDownListFor(model => model.CustID, new SelectList(Model.CustList, "CustID", "Email"))
                     }
                     else if (User.IsInRole("HotelAdmin") || User.IsInRole("HotelStaff"))
                     {
                         @Model.Cust.Email
                         @Html.HiddenFor(model => model.CustID)
                     }
                </td>
            </tr>
            <tr>
                <td style="width: 100px;">
                    logo
                </td>
                <td>
                   <input type="file" name="FileUpload" id="FileUpload" />
                </td>
            </tr>
        </table>
         @Html.HiddenFor(model => model.HotelID)
    </div>
</fieldset>
