<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>New Home Page Kuyam</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
    ================================================== -->
    <link type="text/css"  rel="stylesheet" href="https://webfonts.creativecloud.com/c/b87fec/asap:n4:n7,bebas-neue:n4,open-sans:i4:n4.WXM:P:1,WXK:P:1,bCT:P:1,VvD:P:1,VvH:P:1/d">
    <link type="text/css"  rel="stylesheet" href="@Url.Content("~/content/bootstrap.css")" />
    <link type="text/css"  rel="stylesheet" href="@Url.Content("~/content/bootstrap-theme.css")" />
    <link type="text/css"  rel="Stylesheet" href="@Url.Content("~/content/themes/base/jquery-ui.css")">
    <link type="text/css"  rel="Stylesheet" href="@Url.Content("~/content/responsiveslides.css")" />
    <link type="text/css"  rel="stylesheet" href="@Url.Content("~/content/base.css")">
    <link type="text/css"  rel="stylesheet" href="@Url.Content("~/content/general.css")">
    <link type="text/css"  rel="stylesheet" href="@Url.Content("~/content/layout.css")">    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="content/images/favicon.ico">
    <link rel="apple-touch-icon" href="content/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="content/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="content/images/apple-touch-icon-114x114.png">
    <script type="text/javascript" src="scripts/jquery-2.1.1.js" ></script>
    <script type="text/javascript" src="scripts/jquery-ui-1.10.4.js" ></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/responsiveslides.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
</head>
<body>
    <!-- Primary Page Layout
    ================================================== -->
    <div class="page">
        <div class="header head_container">
            @Html.Partial("_Header")
        </div>
        <div class="mainContent">
            @RenderBody()
        </div>
        <div class="footer footer_container">
            @Html.Partial("_Footer")
        </div>
    </div>
    <div class="loading"></div>
    <!-- End Document
    ================================================== -->
    @Html.Partial("_LiveChat")
</body>
</html>