@using Kuyam.WebUI.Models
@using Kuyam.Domain.Services;
@{
    var _settingService = new SettingService();
}
<script type="text/javascript">
    var isShowLiveChat = @((MySession.ShowLiveChat).ToString().ToLower());
    var appId ='@(_settingService.GetSetting("hmb_appid"))';
    var companyname;
    var phoneNumber;
    var companySite;

    var loaded = function () {

        if (isShowLiveChat) {
            hipmob.show();
            hipmob.open();
            $(".btnLiveChat").addClass("on");
            $(".btnLiveChat").removeClass("off");

        } else {
            hipmob.hide();
            $(".btnLiveChat").addClass("off");
            $(".btnLiveChat").removeClass("on");
        }

        if ($('#hipmob_info_message').length > 0) {
            $("#hipmob_info_input_question").val("trigger to hide dialog only");
            $("#hipmob_info_input_button").click();
        }
    };

    $(document).ready(function (e) {

        $(".btnLiveChat").click(function () {

            $.get("@Url.Action("ToogleShowLiveChat", "Home")?nocache=" + getunixtime(), function (data) {
                isShowLiveChat = data;
                loaded();
            });

        });

    });

    var userId='@(MySession.CustID>0?MySession.CustID:0)';
    var userName ='@(MySession.CustID > 0 ? MySession.Cust.FullName :"")';
    var email = '@(MySession.CustID > 0 ? MySession.Cust.Email : "")'

    var _hmc = _hmc || [];
    _hmc.push(['app', appId]);
    _hmc.push(['on_load', loaded]);
    if (userId > 0) {
        _hmc.push(['uid',userId]);
        _hmc.push(['name', userName]);
        _hmc.push(['email', email]);
    }
    _hmc.push(['title', '']);
    _hmc.push(['settings', {
        'hidebranding': true,
        'hide': true,
        'width': '300px',
        'border-width': "0px",
        'background-color': '#E6E6E6',
        'font-family': 'Arial,Helvetica,sans-serif',
        'color': '#8C8C8C',
        'greeting': 'hi! how can we help you today?'
    }]);
    _hmc.push(['tab', {
        'height': '34px',
        'background-color': '#000000',
        'background-image': '/Images/LiveChat/livechat_tabTitle.jpg',
        'background-postion': 'left top',
        'background-repeat': 'no-repeat',

    }]);
    _hmc.push(['statusicons', {
        'online': '/Images/LiveChat/livechat_statusOnline.jpg',
        'offline': '/Images/LiveChat/livechat_statusOffline.jpg',
        'disconnected': '/Images/LiveChat/livechat_statusOffline.jpg'
    }]);
    _hmc.push(['controlicons', { 'open': '/Images/LiveChat/livechat_controlOpen.jpg', 'close': '/Images/LiveChat/livechat_controlClose.jpg' }]);
    _hmc.push(['input', { 'height': '40px', 'placeholder': 'send us a message' }]);
    (function () {
        var hm = document.createElement('script');
        hm.type = 'text/javascript';
        hm.async = true;
        hm.src = 'https://hipmob.s3.amazonaws.com/hipmobchat.min.js';
        var b = document.getElementsByTagName('script')[0];
        b.parentNode.insertBefore(hm, b);

    })();

    function showMessagereceived(self, from, text) {
        var txtmessage = '<p><strong>kuyam:</strong> <span>' + text + '</span></p>';
        $("#textmessagerecived").append(txtmessage);
        var view = $('#textmessagerecived');
        var hight = view[0].scrollHeight;
        view.scrollTop(hight);
    }

    function showTextmessagesent(self, text) {
        var message = text.split('|')[1];
        var txtmessage = '<p><strong>me:</strong> <span>' + message + '</span></p>';
        $("#textmessagerecived").append(txtmessage);
    }


    function sendmessages() {

        var txtinput = "";
        if (companyname != '')
            txtinput += companyname + ", ";
        if (phoneNumber != '')
            txtinput += phoneNumber + ", ";
        if (companySite != '')
            txtinput += companySite;

        txtinput += "|" + $("#inputmsgchat").val();

        var message = $("#inputmsgchat").val();
        if (message != '') {
            $("#hipmob_input").val(txtinput);
            hipmob.removeListener('textmessagereceived', showMessagereceived);
            hipmob.on('textmessagereceived', showMessagereceived);
            hipmob.once('textmessagesent', showTextmessagesent);
            hipmob.send_now();
            $("#inputmsgchat").val("");
            var view = $('#textmessagerecived');
            var hight = view[0].scrollHeight;
            view.scrollTop(hight);
        }
    }

</script>
