@using Kuyam.Database
@{
    int totalRecord = 0;
    bool isOdd = false;
    if (ViewBag.ZipCodesList != null)
    {
        totalRecord = ViewBag.TotalRecords;
    }

    int userListPageIndex = ViewBag.Page ?? 1;
    string key = ViewBag.Key == "-1" || ViewBag.Key  == null ? "" : ViewBag.Key;
    int searchType = ViewBag.SearchType ?? -1;

    ViewBag.Page = userListPageIndex;
    ViewBag.Key = key;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtKey").focus();
        $("#contentmainpage").keypress(function (e) {
            var kCode = e.keyCode || e.charCode;
            if (kCode == 13) {
                FilterSearchResult();

                return false;
            }
        });
    });
    
</script>
<table border='0' cellpadding="0" cellspacing="0" class="tbldata" width="500" id="ddlUsers">
    <tr>
        <th style="text-align:center">
            zipcode
        </th>
        <th>
            city
        </th>
        <th>
            state
        </th>
        
        <th>
            county
        </th>   
        <th style="text-align:center">
            status
        </th>               
        <th style="width: 100px;text-align:center">
            action
        </th>
    </tr>
    @foreach (ZipCode zipCode in ViewBag.ZipCodesList)
    {
        string addClass = "";
        if (isOdd)
        {
            addClass = "class=odd";
            isOdd = false;

        }
        else
        {
            isOdd = true;
        }
        <tr @addClass>
            <td style="text-align:center">
                <input type="hidden" id="hdfZipCodeId"value="@zipCode.ZipCodeId" />
                <span style="text-align:center">@zipCode.Code</span>
            </td>
            <td>
                <span>@zipCode.City</span>
            </td>
              <td>
                <span>@zipCode.State</span>
            </td>
            <td>
                <span>@zipCode.County</span>
            </td>   
            <td style="text-align:center">
                 @{
                    if (zipCode.Active)
                    {
                        <span>active</span>
                    }
                    else
                    {
                        <span>inactive</span>
                    }
                  }                        
            </td>                                  
                    
                <td style="text-align: center;">
                    @Html.ActionLink("delete", "DeleteZipCodeById", new { id = zipCode.ZipCodeId, page = userListPageIndex, key = key }, new { onclick = "return confirm('are you sure you want to delete this zipcode?');" }) 
                    | 
                    @if (key == "")
                    {
                      <a href="/Admin/ZipCodeDetail/@(zipCode.ZipCodeId)/@(userListPageIndex)/'@key'/@(searchType)">edit</a>
                    }
                    else
                    {
                        <a href="/Admin/ZipCodeDetail/@(zipCode.ZipCodeId)/@(userListPageIndex)/@key/@(searchType)">edit</a>
                    }
                                    
                </td>                
        </tr>
    }
</table>
<table cellpadding="0" cellspacing="0" border="0" class="tbldata">
    <tr class="odd">
        <td>
            <input type="hidden" id="currentPage" value="@ViewBag.Page" />
            @{ 
                int from = (ViewBag.Page - 1) * 10 + 1;
                int to = ViewBag.Page * 10;
                if (to > totalRecord)
                {
                    to = totalRecord;
                }
                int lastPage = 0;
                if (totalRecord % 10 == 0)
                {
                    lastPage = totalRecord / 10;
                }
                else
                {
                    lastPage = totalRecord / 10 + 1;
                }
               
            
                <div class="fLeft mt4" style="float: left;">
                    @if (totalRecord > 0)
                    {
                        <span>@from - @to of </span>
                        <span><strong>@totalRecord results</strong></span>
                    }
                </div>
            }
        </td>
        <td class="paging" style="text-align: right;">
            @{
                if (totalRecord > 0)
                {
                <div class="paging">
                    @if (ViewBag.Page > 1)
                    {
                    
                        <a onclick="pagingEvent(@(ViewBag.Page - 1))" title="previous">&lt;</a>
                    }
                    @if (lastPage >= 5 && ((ViewBag.Page == lastPage - 1) || ViewBag.Page == lastPage))
                    {
                        if (ViewBag.Page == 4)
                        {
                        <a  onclick="pagingEvent(@(ViewBag.Page - 3))" pageIndex="@(ViewBag.Page - 3)" title="@(ViewBag.Page - 3)">@(ViewBag.Page - 3)</a>
                        }
                        if (ViewBag.Page > 4)
                        {
                        <a onclick="pagingEvent(1)" title="previous">1</a>
                        <span class="borderNone p0 ml4 dotmore">...</span>
                        
                        }
                    
                        <a  onclick="pagingEvent(@(ViewBag.Page - 2))" pageIndex="@(ViewBag.Page - 2)" title="@(ViewBag.Page - 2)">@(ViewBag.Page - 2)</a>
                        <a  onclick="pagingEvent(@(ViewBag.Page - 1))" pageIndex="@(ViewBag.Page - 1)" title="@(ViewBag.Page - 1)">@(ViewBag.Page - 1)</a>
                    }
                    @if (ViewBag.Page > 1 && ViewBag.Page < lastPage - 1)
                    {

                        if (ViewBag.Page == 3)
                        {
                        <a onclick="pagingEvent(1)" title="previous">1</a>
                        }
                        if (ViewBag.Page > 3)
                        {
                        <a onclick="pagingEvent(1)" title="previous">1</a>
                        <span class="borderNone p0 ml4 dotmore">...</span>
                        
                        }
                        <a  onclick="pagingEvent(@(ViewBag.Page - 1))" pageIndex="@(ViewBag.Page - 1)" title="@(ViewBag.Page - 1)">@(ViewBag.Page - 1)</a>
                    }
                    <span class="active" title="@ViewBag.Page">@ViewBag.Page</span>
                    @if (ViewBag.Page + 1 < lastPage)
                    {
                        <a  onclick="pagingEvent(@(ViewBag.Page + 1))" pageIndex="@(ViewBag.Page + 1)" title="@(ViewBag.Page + 1)">@(ViewBag.Page + 1)</a>
                    }
                    @if (ViewBag.Page + 2 < lastPage)
                    {
                        <a  onclick="pagingEvent(@(ViewBag.Page + 2))" pageIndex="@(ViewBag.Page + 2)" title="@(ViewBag.Page + 2)">@(ViewBag.Page + 2)</a>
                    }
                    @if (ViewBag.Page + 3 < lastPage)
                    {
                        <span class="borderNone p0 ml4 dotmore">...</span>
                    }
                    @if (ViewBag.Page < lastPage)
                    {
                        <a  onclick="pagingEvent(@lastPage)" pageIndex="@lastPage" title="@lastPage">@lastPage</a>
                        <a  onclick="pagingEvent(@(ViewBag.Page + 1))" title="next">&gt;</a>
                    }
                </div>
                <div class="clear">
                </div>
                }
            }
        </td>
    </tr>
</table>
