@{
    ViewBag.Title = "AdminCompanyList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}
<div id="contentmainpage">
    <h2>
        companies list review</h2>
    <div class="boxsearch">
        <center>
            <table class="tbldata" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr class="odd">
                        <td>
                            <select id="searchType">
                                <option value="-1"  @(ViewBag.SearchType == (int)Kuyam.Database.Types.CompanyStatus.Unknown ? "selected" : "")>select status</option>
                                <option value="0" @(ViewBag.SearchType == 0 ? "selected" : "")>error</option>
                                <option value="1" @(ViewBag.SearchType == 1 ? "selected" : "")>ready</option>
                            </select>
                            <input class="button" id="btnSearch" value="search" type="button" onclick="FilterSearchResultPageReview();" />
                            <input class="button" id="btnImportData" value="Import data" type="button" onclick="ImportDateToDB();" />
                            <input class="button" id="btnBackCompanyList" value="company list" type="button" onclick="BackCompanyList();" />
                            <input class="button" id="btnClearTempDate" value="clear data and back to company list" type="button" onclick="ClearSearchResult();" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
    <div id="listCompany">
        @Html.Partial("_CompanyListReviewResults")
    </div>
    <a href="/Admin/AdminCompanyList">
        back to list
    </a>
</div>
<style type="text/css">
    /* ------------- Spinner -----------*/
    .spinner2 {
        display: none;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        background: url(spinner.gif) no-repeat center #fff;
        text-align: center;
        padding: 10px;
        font: normal 16px Tahoma, Geneva, sans-serif;
        border: 1px solid #666;
        margin-left: -50px;
        margin-top: -50px;
        z-index: 2;
        overflow: auto;
    }

    .spinner {
        /*position: relative;
        top: 210px;
        left: 300px;
        text-align: center;*/
    }
    .PopUpDialog {
        width: 500px;
        height: 540px;
        padding: 30px;
        margin: 30px;
        position: relative;
        overflow: auto;
    }
    .ui-widget-overlay {
        background: repeat scroll 100% 100% #AAAAAA;
        height: 500%;
         opacity: 0.3;
    }
    .ui-dialog .ui-dialog-titlebar-close span {
        margin: -8px;
    }
</style>
<div id="uploadpopup" class="popup-facebook">
    <div class="contentPopup">
        <a class="btnCloseloginPopup" href="JavaScript:void(0);" title="close"></a>
        <div class="clear">
        </div>
        <input id="fileSubmit" type="file"/>  
        <input id="submit" type="submit"/>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //var loadingHtml = '<img src="@Url.Content("~/images/spinner.gif")" class="spinner"/>';
        $('#uploadpopup').dialog({
            autoOpen: false,
            dialogClass: 'PopUpDialog',
            position: 'center',
            resizable: false,
            title: "Import data",
            modal: true,
            open: function (event, ui) {
                //$(this).html(loadingHtml);
                //$(this).load(url);

            }
        });
        //$("#uploadpopup").dialog({autoOpen: false});
        var importResult = $("#importResult").val();
    });
    function pagingEvent(pageIndex) {
        var key = $('#txtKey').val();
        var searchType = $("#searchType option:selected").val();
        var searchParameters = { page: pageIndex, key: key, searchType: searchType };
        $.ajax(
            {
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(searchParameters),
                dataType: 'html',
                url: '/Admin/GoToReviewPage/'
            })
            .success(function (result) {
                $('#listCompany').html(result);
            })
            .error(function (error) {

            });
    };
    function ClearSearchResult() {
        $.ajax(
               {
                   type: 'POST',
                   contentType: 'application/json; charset=utf-8',
                   data: "",
                   dataType: 'html',
                   url: '/Admin/ClearData/'
               })
               .success(function (result) {
                   if (result == "false") {
                       window.location.href = "/Admin/Login";
                   } else {
                       window.location.href = "/Admin/AdminCompanyList";
                       //$('#listCompany').html(result);
                   }

               })
               .error(function (error) {

               });
    }
    function FilterSearchResultPageReview() {

        var key = $('#txtKey').val();
        var searchType = $("#searchType option:selected").val();
        var searchParameters = { key: key, searchType: searchType };
        $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(searchParameters),
                    dataType: 'html',
                    url: '/Admin/GoToReviewPage/'
                })
                .success(function (result) {
                    if (result.isSuccess == false) {
                        window.location.href = "/Admin/Login";
                    }else{ 
                    $('#listCompany').html(result);
                    }

                })
                .error(function (error) {

                });
    }
    function ImportDateToDB() {
        $.ajax(
               {
                   type: 'POST',
                   contentType: 'application/json; charset=utf-8',
                   data: "",
                   dataType: 'html',
                   url: '/Admin/ImportDataToDB/'
               })
               .success(function (result) {
                   if (result.isSuccess=='false') {
                       window.location.href = "/Admin/Login";
                   } else {
                       window.location.href = "/Admin/AdminCompanyList";
                   }
                 
               })
               .error(function (error) {
                   window.location.href = "/Admin/AdminCompanyList";
               });
    }
    function ShowImportData() {
        window.location.href = "/Admin/ImportDataPage";
        //$("#uploadpopup").dialog("open");
    }
    function BackCompanyList() {
        window.location.href = "/Admin/AdminCompanyList";
    }
</script>
