@using Kuyam.Database
@using Kuyam.Repository.Infrastructure
@using Kuyam.Domain
@{
    ViewBag.Title = "promo code detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}
<style type="text/css">
    .error
    {
        color: red;
        text-align: left;
    }
</style>
<div id="contentmainpage">
    <div id="divList">
        <h2>
            promo codes details</h2>
        <div class="boxsearch">
            <center>
                <table cellpadding="0" cellspacing="0" border="0" class="tbldata">
                    <tr class="odd">
                        <td>
                            <label style="display: none;">
                                search&nbsp;&nbsp;
                                <input type="text" id="txtKey" name="Key" value="@ViewBag.Key" />
                            </label>
                            <select id="searchType" style="display: none;">
                                <option value="-1" @(ViewBag.SearchType == -1 ? "selected='selected'" : "")>select type</option>
                                <option value="1" @(ViewBag.SearchType == 0 ? "selected='selected'" : "")>Active
                                </option>
                                <option value="0" @(ViewBag.SearchType == 1 ? "selected='selected'" : "")>InActive</option>
                            </select>
                            <input type="text" value="start date"
                                   onfocus="if (this.value=='start date') {this.value = '';}"
                                   onblur="if (this.value==''){this.value='start date';}" id="ainpStartDateSearchAdmin" />
                            &nbsp;&nbsp;<input class="button" id="btnSearch" value="search" type="button" onclick="FilterSearchResult();" />
                            <input id="searchAll" type="checkbox" /><span>search all</span>
                        </td>
                    </tr>
                </table>
            </center>
        </div>
        <div id="listGiftCard" style="overflow-x: hidden; display: block">
            @Html.Partial("_PromoCodeReportDetailResult")
        </div>
    </div>
    <input id="hidPageIndexDetails" value="1" type="hidden" />
    <input id="hidDisId" value='@ViewBag.DiscountId' type="hidden" />
</div>
<style type="text/css">
    /*#dialog-form label,*/#dialog-form input:text
    {
        display: block;
    }
    #dialog-form input.textc
    {
        width: 99%; /*margin-bottom:12px; width:95%; padding: .4em;*/
    }
    #dialog-form fieldset
    {
        padding: 0;
        border: 0;
        margin-top: 25px;
    }
    #dialog-form .ui-state-error
    {
        border-color: red;
    }
    #dialog-form .validateTips
    {
        border: 1px solid transparent;
        padding: 0.3em;
        color: red;
    }
    .ui-datepicker-calendar {
        display: none;
    }

    
</style>
<script src="/Scripts/validation/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery-ui-timepicker-addon.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.format.1.05.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.jstepper.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.maxlength-min.js")"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $("#ainpStartDateSearchAdmin").keypress(function(e) {
            if (e.keyCode != 8) {
                return false;
            }
        });
        var currentTime = new Date();
        var month1 = currentTime.getMonth();
        var year1 = currentTime.getFullYear();
        var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];
        $('#ainpStartDateSearchAdmin').val(monthNames[month1] + " " + year1);
        $('#ainpStartDateSearchAdmin').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });
        $('#ainpStartDateAdmin, #ainpEndDateAdmin, #ainpStartDateAdmin, #ainpEndDateAdmin, #ainpStartDateSearchAdmin').datepicker({
            
        });
        $('#ainpStartTimeAdmin, #ainpEndTimeAdmin, #ainpStartTimeAdmin, #ainpEndTimeAdmin').timepicker({
            ampm: true,
            stepMinute: 15,
            amNames: ['am', 'am'],
            pmNames: ['pm', 'pm'],
            showLeadingZero: false,
            onHourShow: 10,
            onMinuteShow: 30
        });
        $('#ainpDiscountCodeAdmin, #ainpReDiscountCodeAdmin, #ainpDiscountAmountAdmin').maxlength({
            events: [], // Array of events to be triggerd   
            maxCharacters: 20, // Characters limit  
            status: false, // True to show status indicator bewlow the element   
            statusClass: "status", // The class on the status div 
            statusText: "character left", // The status text 
            notificationClass: "notification",  // Will be added when maxlength is reached 
            showAlert: false, // True to show a regular alert message   
            alertText: "You have typed too many characters.", // Text in alert message  
            slider: false // True Use counter slider   
        });
        $('#txtKey').keypress(function(e) {
            var startDate = $("#ainpStartDateSearchAdmin").val();
            if (startDate != 'start date') {
                if (Date.parse(startDate)) {
                    if (e.which == 13) {
                        e.stopPropagation();
                        e.preventDefault();
                        $('#btnSearch').click();
                    }
                } else {
                    alert("start date invalid");
                }

            }
        });


    });

    function pagingEvent(pageIndex) {
        //var startDate = $("#ainpStartDateSearchAdmin").val();
        //if (startDate != 'start date') {
        //    if (!IsDate(startDate)) {
        //        alert("start date invalide");
        //        $("#ainpStartDateSearchAdmin").val('start date');
        //        return false;
        //    }
        //}
        //var endDate = null;
        //var key = $('#txtKey').val();
        //var type = $('#searchType').val();
        //var searchType = type;
        //if (type == -1) {
        //    searchType = -1;
        //}
        //var searchParameters = {
        //    page: pageIndex,
        //    key: $.trim(key),
        //    type: searchType,
        //    startDate: startDate,
        //    endDate: endDate
        //};
        var searchParameters = PostPrameDetail(pageIndex);
        $.ajax(
            {
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(searchParameters),
                dataType: 'html',
                url: '/Admin/AdminPromoCodeDetails/'
            })
            .success(function(result) {
                $('#listGiftCard').html(result);
                $("#hidPageIndexDetails").val(pageIndex);
            })
            .error(function(error) {

            });
    };

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function IsDate(date) {
        var dateRegEx = /^(0[1-9]|1[012]|[1-9])[- /.](0[1-9]|[12][0-9]|3[01]|[1-9])[- /.](19|20)\d\d$/;
        if (date.match(dateRegEx) !== null)
            return true;
        return false;
    }

    function FilterSearchResult() {
        var pageIndex = $("#hidPageIndexDetails").val();
        var searchParameters = PostPrameDetail(pageIndex);
        $.ajax(
            {
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(searchParameters),
                dataType: 'html',
                url: '/Admin/AdminPromoCodeDetails/'
            })
            .success(function(result) {
                if (result == "false") {
                    window.location.href = "/Admin/Login";
                } else {
                    $('#listGiftCard').html(result);
                }

            })
            .error(function(error) {

            });
    }
    function getMonthFromString(mon) {
        return new Date(Date.parse(mon + " 1, 2012")).getMonth() + 1;
    }
    function PostPrameDetail(pageIndex)
    {
        var startDate = $("#ainpStartDateSearchAdmin").val();
        if (startDate != 'start date') {
            var arry = startDate.split(" ");
            var numMonth = getMonthFromString(arry[0]);
            var strDate = numMonth + "/01/" + arry[1];
            if (!IsDate(strDate)) {
                alert("start date invalide");
                $("#ainpStartDateSearchAdmin").val('start date');
                return false;
            } else {
                startDate = strDate;
            }
        }
        var endDate = null;
        var key = $('#txtKey').val();
        var type = $('#searchType').val();
        var index = pageIndex;//$("#hidPageIndexDetails").val();
        var searchType = type;
        if (type == -1) {
            searchType = -1;
        }
        var discountId = $("#hidDisId").val();
        var searchAll = $('#searchAll').attr('checked');
        var check = false;
        if (searchAll == 'checked') {
            check = true;
        }
        var searchParameters = {
            id: discountId,
            page: index,
            key: $.trim(key),
            type: searchType,
            startDate: startDate,
            endDate: endDate,
            isCheck: check
    };
        return searchParameters;
    }
</script>