@{
    ViewBag.Title = "Pending Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int userListPageIndex = ViewBag.Page ?? 1;
    string key = ViewBag.Key == "-1" || ViewBag.Key == null ? "" : ViewBag.Key;
    int searchType = ViewBag.SearchType ?? -1;

    ViewBag.Page = userListPageIndex;
    ViewBag.Key = key;
}
<style>
    #contentmainpage .tbldata td { word-break: break-all;}
</style>
<div id="contentmainpage">
    <h2>
        zipcodes list</h2>
    <div class="boxsearch">
        <center>
            <table cellpadding="0" cellspacing="0" border="0" class="tbldata">
                <tr class="odd">
                    <td>
                        <label>
                            search&nbsp;&nbsp;
                            <input type="text" id="txtKey" name="Key" value="@ViewBag.Key" />
                        </label>  
                        <select id="searchType">
                            <option value="-1" @(ViewBag.SearchType==-1? "selected":"")>select status</option>
                            <option value="1" @(ViewBag.SearchType==1? "selected":"")>active</option>
                            <option value="2" @(ViewBag.SearchType==2? "selected":"")>inactive</option>                            
                        </select>                   
                        <input class="button" id="btnSearch" value="search" type="button" onclick="FilterSearchResult();" />
                        <input class="button" id="btnAdd" value="add zipcode" type="button" onclick="AddNewZipCode();" />
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <div id="zipCodes">
        @Html.Partial("_ZipCodesResult")
    </div>
</div>
<script type="text/javascript">

    function pagingEvent(pageIndex) {
        var key = $.trim($('#txtKey').val());
        var searchType = $("#searchType option:selected").val();
        var searchParameters = { page: pageIndex, key: key, searchType: searchType};
        $.ajax(
            {
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(searchParameters),
                dataType: 'html',
                url: '/Admin/ZipCodesPaging/'
            })
            .success(function (result) {
                $('#zipCodes').html(result);
            })
            .error(function (error) {

            });
    };
    function FilterSearchResult() {

        var key = $.trim($('#txtKey').val());
        var searchType = $("#searchType option:selected").val();
        var searchParameters = { key: key, searchType: searchType };
        $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(searchParameters),
                    dataType: 'html',
                    url: '/Admin/SearchZipCodes/'
                })
                .success(function (result) {

                    $('#zipCodes').html(result);

                })
                .error(function (error) {

                });
    }

    function AddNewZipCode() {
        window.location.href = "/Admin/ZipCodeDetail/0";
    }
    
</script>
