@model Kuyam.WebUI.Models.CustHomeModel
@using M2.Util
@using M2.Util.MVC
@using Kuyam.WebUI.Models
@using Kuyam.Domain
@using Kuyam.Database
@{
    //Layout = "~/Views/shared/_layout.cshtml";
    Layout = "~/Views/Shared/_KuyamLayoutBlank.cshtml";
    ViewBag.Title = "";
    ViewBag.CustPage = "home";
}
@Html.Partial("company-view-setup-partial")
@section Head
{
    <link href="@Url.Content("~/Content/personal.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Dashboard.css")" rel="stylesheet" type="text/css" />
    @Html.Partial("_FullcalendarSetup")
    @Html.Partial("_DatePickerControlSetup")
    <script type='text/javascript'>

        var _calClicked = "";
        function SetupCalendar() {
            $("#loadingCal").show();
            $('#calendar').empty();
            jQuery('#calendar').fullCalendar({
                eventRender: function (event, element) {
                    element.bind('dblclick', function () {
                        //alert('double click!');
                    })
                },
                @if (MySession.ViewName != null)
                {
                    @:defaultView: '@MySession.ViewName',

                }
                events: {
                    url: '@Url.Content("~/cust/calendarfeed")',
                    type: 'POST',
                    beforeSend: function() {
                        $("#calendar, #showing, #calError").hide();
                        $("#loadingCal").show();
                    },
                    success: function() {
                        $("#loadingCal").hide();
                        $("#calendar, #showing").show();
                    },
                    error: function() {
                        $("#loadingCal").hide();
                        $("#calError").html("Error loading calendar.").show();
                    }
                },
                dayClick: function (date, allDay, jsEvent, view) {
                    // Ignore second click using a 300ms timer and "recursive" code
                    // Based on http://code.google.com/p/fullcalendar/issues/detail?id=328
                    if (_calClicked != "day") {
                        _calClicked = "day";
                        setTimeout(function () { _calClicked = ""; }, 300);
                    }
                    else {
                        _calClicked = "";
                        return;
                    }

                    if (allDay == true) {
                        jQuery('#calendar').fullCalendar('changeView', 'agendaDay');
                        jQuery('#calendar').fullCalendar('gotoDate', date);
                    }
                    else {
                        location.href = '@Url.Content("~/cust/schedule-appointment-ondate/?dateTime=")' + date;
                    }
                },
                eventClick: function (calEvent, jsEvent, view) {
                    location.href = '@Url.Content("~/cust/modify-appointment/")' + calEvent.id;
                    return false;
                },
                viewDisplay: function (view) {
                    var d = $('#calendar').fullCalendar('getDate').toString();
                    $.get('@Url.Content("~/cust/setcalendarview")', { view: view.name, date: d });
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    week: '&nbsp;week&nbsp;',
                    day: '&nbsp;&nbsp;day&nbsp;&nbsp;&nbsp;'
                },
                titleFormat: {
                    week: "MMM d[, yyyy]{ '&#8212;'[ MMM] d, yyyy}"
                },
                columnFormat: {
                    week: 'ddd dd',
                    day: ''
                },
                weekMode: 'variable',
                editable: false,
                disableDragging: true,
                disableResizing: true,
                theme: false,
                defaultEventMinutes: 60
            });

            @if (MySession.ViewDate != null)
            {
                @:jQuery('#calendar').fullCalendar('gotoDate', new Date('@MySession.ViewDate'));
            }
        }

        jQuery(document).ready(function () {
            SetupCalendar();
            //jQuery('#lhs').height(jQuery('#calendar').height()+35);

            var calStartWidth = jQuery('#calendar').width();
            //var calStartLeft = jQuery('#calendar').left();
            var lhsStartWidth = jQuery('#lhs').width();

            jQuery('#hideCalendar').click(function () {
                if (jQuery(this).html() == "unhide") {
                    // Unhide it
                    jQuery(this).html("hide");
                    jQuery('#lhs').show();
                    jQuery('#rhs').css({ width: "65%", "float": "right" });
                }
                else {
                    // Hide it
                    jQuery(this).html("unhide");
                    jQuery('#lhs').hide();
                    jQuery('#rhs').css({ width: "100%", "float": "left" });

                }
                //jQuery('#calendar').css({ width: "100%" });
                $('#calendar').fullCalendar('render');
            });
        });
    </script>

    <script type="text/javascript">
    $(function () {
//        if (@@(Model.FeaturedCompanyModel.Company.Desc != null && Model.FeaturedCompanyModel.Company.Desc.Length <= 400)
//        {
//            $('#fcodfullcontent').css('display', 'block');
//            $('#fcodfullcontent').css('visibility', 'visible');
//        }

//        $('#fcodmore').click(function() {
//            $('#fcodpartialcontent').hide();
//            //$('#fcodfullcontent').show();
//            $('#fcodfullcontent').css('display', 'block');
//            $('#fcodfullcontent').css('visibility', 'visible');
//        });

        if (@(Model.CustAge) <= 0)
        {
            jAlert("We need to know how old you are as minors are not allowed to use the site.  Please enter your birthday on the next screen.  Thanks!", "alert", function() {
                location.href = '@Url.Content("~/profile")';
            });
        }
        else if (@(Model.CustAge) < 18)
        {
            jAlert("This site is intended for adults only.  Use of it by minors is prohibited.", "alert", function() {
                location.href = '@Url.Content("~/account/logout")';
            });
        }
    });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#accordion").accordion();
        });
    </script>
}



<div class="DashboardMain" style="background-color:#e4e4e4;">
    <div class="DashboardNavBar"  style="background-color:#e4e4e4;">
        @Html.Partial("dashboard-view-navbar")
    </div>

    <div class="DashboardSplitter"></div>

    <div class="DashboardBody" style="position:relative;background-color:#e4e4e4;">
        <div id="rhs" class="cust-main-right" style="background-color:#e4e4e4;">
            <div id="loadingCal" style="position: absolute; top: 13px; left: 302px">
                <img src="@Url.Content("~/images/spinner.gif")" alt "Updating..." class="spinner"/>
            </div>
            <div id="calError" style="position: absolute; top: 13px; left: 202px">
            </div>
            <div id='calendar' style='margin: 0em 0; font-size: 12px; border: 2px solid #ccc;
                background: #eeeeee; padding: 0px'>
            </div>
            <br />
            
            <!--
            <div id="showing">
                <div style="float: left">
                    showing calendars:
                </div>
                <div class="clear"></div>
                <br />
                <div style="float: left">
                    @{
                        foreach (Kuyam.Database.Calendar c in MySession.Cust.GetSelectedCalendars().OrderBy(x => x.Name))
                        {
                        @:<div class="calendar-label" style="background:#@(c.BackColor);float:left">@Html.ActionLink(c.Name, "edit", "calendar", new { id = c.CalendarID }, null)</div>
                    }
                    }
                </div>
            </div>
            -->
            <div style="position:relative; clear:both; width:100%; height:27px;" >
                <img src="@Url.Content("~/images/Dashboard/CalendarButton.png")" alt="Calendars" style="position:absolute; left:10px; bottom:7px;"/>
                <img src="@Url.Content("~/images/Dashboard/NoteButton.png")" alt="Notes" style="position:absolute; right:2px; bottom:3px;"/>
            </div>
        </div>


    </div>
</div>

<!--
<div class="DashboardFooter">

    <div class="DashboardSponsor">
         Html.Partial("dashboard-view-featuredcompany")
    </div>

    <div class="DashboardFavs">
         Html.Partial("dashboard-view-favorites")
    </div>

</div>
-->
