@{
    string host = Kuyam.WebUI.Helpers.EmailHelper.GetStoreHost();
    string date = String.Format("{0:dddd, MMMM d, yyyy}", DateTime.UtcNow);
}
<style>
    .kuyam *{
        line-height: 0;
    }
    .kuyam .content td *{
        line-height: 142%;
    }
</style>
<center>
    <table class="kuyam" cellpadding="0" cellspacing="0" border="0" width="550px" style="font-family: Arial, Helvetica, sans-serif;">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr style="background-color: black; height: 61px;">
                        <td style="text-align: left;" >
                            <img alt="" src="@host/images/header_logo.png" usemap="#logo" style="border: solid 0px white;" />
                            <map name="logo" id="logo">
                                <area shape="rect" coords="20,5,148,50" href="@host" alt="Kuyam" title="Kuyam" />
                            </map>
                        </td>
                         <td style="color: #c1d82f; text-align: right; font-size: 12px;padding-right: 17px;" >
                            <div style="font-family: Arial, Helvetica, sans-serif;padding-top: 25px;">
                               @date
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="line-height: 0px; font-size: 0px;">
                            <img alt="" src="@host/images/header_footer_discount.jpg" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px; font-size: 0px;">
                <img alt="" src="@host/images/tbox_discount.jpg" />
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td valign="top" style="background-color: #c2ddef;" width="24">
                            <img alt="" src="@host/images/lbox_discount.png" />
                        </td>
                        <td valign="top" style="border-left: solid 1px #c1d82f; border-right: solid 1px #c1d82f; padding-left: 21px;
                            width: 506px;" width="506" align="left">
                            <div style="border-left: solid 8px #e6e6e6;">
                                <table cellpadding="0" cellspacing="0" border="0" class="content">
                                    <tr>
                                        <td style="padding-left: 21px;" height="439" valign="top">
                                            <table cellpadding="0" cellspacing="0" border="0" width="432" style="padding-left: 5px;">
                                                <tr>
                                                    <td style="text-align: right; padding-left: 10px;">
                                                        <a href="@host" title="login" style="color: #29abe2; text-decoration: none; font-size: 12px;
                                                            line-height: 10px; font-family: Arial, Helvetica, sans-serif;">login</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 12px; color: #808080; font-family: Arial, Helvetica, sans-serif;
                                                        padding-left: 10px;">
                                                        hi <b>@Model.UserName!</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 14px 0px 15px 10px; font-family: Arial, Helvetica, sans-serif;
                                                        font-size: 19px; font-weight: bold;">
                                                        @Model.CompanyName is offering you a discount!
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table cellpadding="0" cellspacing="0" border="0" style="border: dashed 4px #c1d82f;
                                                            color: #000;" width="427">
                                                            <tr>
                                                                <td colspan="2" align="center" valign="top" style="padding-top: 5px;">
                                                                    <span style="font-family: Arial, Helvetica, sans-serif; color: #f7931e; font-style: italic;
                                                                        font-weight: bold; font-size: 18px;">@Model.PromoName</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" align="center" valign="top" style="padding: 2px 0px 11px 0px; font-family: Arial, Helvetica, sans-serif;">
                                                                    <span style="font-size: 24px; font-weight: bold;">save @Model.DiscountTest</span> <strong>on @Model.ServiceName.</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="113" height="107" style="padding-left: 15px;" valign="top">
                                                                    <a href="#" title="@Model.PromoName">
                                                                        <img alt="" src="@host/images/giftbox.png" style="border: solid 0px white;" /></a>
                                                                </td>
                                                                <td valign="top" style="padding-bottom: 21px;">
                                                                    <div style="font-size: 16px; font-weight: bold; color: #000; font-family: Arial, Helvetica, sans-serif;">
                                                                        @Model.Start<br />
                                                                        @Model.Until
                                                                    </div>
                                                                    <table cellpadding="0" cellspacing="0" border="0" style="background-color: #fcee21;
                                                                        color: #000000;" width="225">
                                                                        <tr>
                                                                            <td height="54" style="padding-left: 10px; font-family: Arial, Helvetica, sans-serif;">
                                                                                <span style="font-size: 18px; font-weight: bold;">code:</span> <span style="font-size: 18px;
                                                                                    font-weight: bold; color: #ed1c24;">@Model.Code</span><br />
                                                                                <span style="font-size: 12px;">use this promo code at checkout.</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table cellpadding="0" cellspacing="0" border="0" width="422">
                                                <tr>
                                                    <td style="padding: 14px 0px 8px 12px; font-size: 12px; color: #808080; font-family: Arial, Helvetica, sans-serif;
                                                        line-height: 15px;" valign="top">
                                                        <span style="font-size: 14px;">message from the company:</span><br />
                                                        <span style="font-size: 18px; color: #000; line-height: 24px;">
                                                        @Model.Message
                                                        <br />
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" style="padding: 0px 0px 9px 12px; font-size: 12px; color: #808080;
                                                        font-family: Arial, Helvetica, sans-serif;">
                                                        <span style="font-size: 12px;">click on the following link to schedule an appointment
                                                            now:</span><br />
                                                        <a href="@host/companyprofile/availability/@Model.CompanyId" title="link will appear here to your company profile"
                                                            style="text-decoration: none; color: #0071bc;">@host/availability</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td valign="top" style="background-color: #bcdaed;" width="20">
                            <img alt="" src="@host/images/rbox_discount.png" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>    
         <tr>
            <td style="line-height: 0px;">
                <img alt="" src="@host/images/fbox_surprise1.png" usemap="#social" style="border: solid 0px white;" />
                <map name="social" id="social">
                    <area shape="rect" coords="222,18,272,30" href="http://www.kuyam.org" alt="Kuyam" title="Kuyam" />
                    <area shape="rect" coords="279,4,313,34" href="http://www.facebook.com/mykuyam" alt="Facebook" title="Facebook" />
                    <area shape="rect" coords="316,4,344,34" href="https://twitter.com/mykuyam" alt="Twitter" title="Twitter" />
                    <area shape="rect" coords="349,4,379,34" href="http://www.youtube.com/channel/UCei6RmG4G9jLgEHchRzR5jA" alt="Youtube" title="Youtube" />
                    <area shape="rect" coords="382,4,412,34" href="http://kuyam.tumblr.com/" alt="Tumblr" title="Tumblr" />
                    <area shape="rect" coords="415,4,445,34" href="http://pinterest.com/kuyam/" alt="Pinterest" title="Pinterest" />
                    <area shape="rect" coords="448,4,482,35" href="https://plus.google.com/u/0/b/103779915573360185741/103779915573360185741" alt="Google+" title="Google+" />
                    <area shape="rect" coords="483,4,515,35" href="http://instagram.com/kuyamsocial" alt="Instagram" title="Instagram" />
                </map>
               @*<map name="social" id="social"><area shape="rect" coords="487,4,516,34" href="http://instagram.com/kuyamsocial" alt="Instagram" title="Instagram" />
                      	<area shape="rect" coords="453,4,482,34" href="http://pinterest.com/kuyam/" alt="Pinterest" title="Pinterest" />
                        <area shape="rect" coords="419,4,449,34" href="http://kuyam.tumblr.com/" alt="Tumblr" title="Tumblr" />
                        <area shape="rect" coords="386,4,415,34" href="http://www.youtube.com/user/mykuyam" alt="Youtube" title="Youtube" />
                        <area shape="rect" coords="353,4,382,34" href="https://twitter.com/mykuyam" alt="Twitter" title="Twitter" />
                        <area shape="rect" coords="317,4,346,34" href="http://www.facebook.com/mykuyam" alt="Facebook" title="Facebook" />
                        <area shape="rect" coords="255,18,308,30" href="http://www.kuyam.org" alt="Kuyam" title="Kuyam" />
                    </map>*@
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px; font-size: 0px;" valign="top">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="line-height: 0px; font-size: 0px;">
                            <img alt="" src="@host/images/footer_discount2.png" style="border: solid 0px white;" />
                        </td>
                        <td style="line-height: 0px; font-size: 0px;">
                            <a href="mailto:@Model.Email" title="@Model.Email">
                                <img alt="" src="@host/images/footer_discount2a.png" style="border: solid 0px white;" /></a>
                        </td>
                        <td style="line-height: 0px; font-size: 0px;">
                            <img alt="" src="@host/images/footer_discount2b.png" style="border: solid 0px white;" usemap="#kuyam" />
                            <map name="kuyam" id="kuyam">
                                <area shape="rect" coords="79,10,135,22" href="@host" alt="kuyam.com"
                                    title="kuyam.com" />
                            </map>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px; font-size: 0px;">
                <img alt="" src="@host/images/footer_discount11.png" usemap="#footer" style="border: solid 0px white;" />
                <map name="footer" id="footer">
                    <area shape="rect" coords="470,3,525,10" href="%unsubscribe_url%"
                        alt="unsubscribe" title="unsubscribe" />
                    <area shape="rect" coords="183,17,242,26" href="@host/home/howitworks_user"
                        alt="how it works " title="how it works " />
                    <area shape="rect" coords="266,17,307,26" href="@host/home/OurStory" alt="our story"
                        title="our story" />
                    <area shape="rect" coords="338,17,354,26" href="@host/home/faq" alt="faq"
                        title="faq" />
                    <area shape="rect" coords="378,17,424,26" href="@host/home/contactnew" alt="contact us"
                        title="contact us" />
                    <area shape="rect" coords="454,17,525,26" href="@host" alt="terms &amp; privacy"
                        title="terms &amp; privacy" />
                </map>
            </td>
        </tr>
    </table>
</center>