@using Kuyam.Database
@using System.Configuration
@using Kuyam.Domain.Seo;
@using Kuyam.Domain;

<div class="sixteen columns tabContent">
    <h2>book me a session for...</h2>
    <p>select a time and let us book it.</p>
    <input type="hidden" value="@ViewBag.Lat" id="curLat" />
    <input type="hidden" value="@ViewBag.Lon" id="curLon" />
    @{
        var pstNowTime = DateTimeUltility.ConvertToPstTime(DateTime.Now);
        if (ViewBag.Categories != null)
        {
            var profiles = ViewBag.ProfileCompanies;
            var catUrl = "https://kuyamqa1.apphb.com";
            <div>
                <ul class="tab-list desktop">
                    @foreach (Service category in ViewBag.Categories)
                    {
                        var tabNumber = "#tabs-" + category.Sequence;
                        if (ViewBag.categoryId != null && category.ServiceID == (int)ViewBag.categoryId)
                        {
                            <li class="active"><a href="javascript:void(0);" class="categoryLnk" categoryid="@category.ServiceID">@category.ServiceName</a></li>
                            catUrl = catUrl + "/" + category.ServiceName;
                        }
                        else
                        {
                            <li><a href="javascript:void(0);" class="categoryLnk" categoryid="@category.ServiceID">@category.ServiceName</a></li>
                        }

                    }
                </ul>


                <div class="tab-content">
                    @foreach (CompanyProfileSearch profile in profiles)
                    {
                        var urlLogo = "content/images/placeholder.png";
                        var seName = profile.GetSeName(profile.ProfileID);
                        string url = "https://kuyamqa1.apphb.com/" + "book/" + seName + "/availability";

                        if (!string.IsNullOrEmpty(profile.LogoMediaId))
                        {
                            urlLogo = Types.KaturaDoman + "/p/811441/thumbnail/entry_id/" + profile.LogoMediaId + "/width/85/height/82";

                        }

                        string state = string.Empty;
                        if (!string.IsNullOrEmpty(profile.City) && !string.IsNullOrEmpty(profile.State))
                        {
                            if (!string.IsNullOrEmpty(profile.City) && profile.City.Length > 30)
                            {
                                state = string.Format("{0}, {1}", UtilityHelper.TruncateAtWord(profile.City, 20), profile.State);
                            }
                            else
                            {
                                state = string.Format("{0}, {1}", profile.City, profile.State);
                            }

                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(profile.City) && profile.City.Length > 30)
                            {
                                state = string.Format("{0}{1}", UtilityHelper.TruncateAtWord(profile.City, 30), profile.State);
                            }
                            else
                            {
                                state = string.Format("{0}{1}", profile.City, profile.State);
                            }
                        }
                        <div class="eight eight_fix columns alpha omega event-block">
                            <div class="avatar">
                                <a href="@url" title=""><img alt="Avatar" src="@urlLogo"></a>
                            </div>
                            <div class="desContent">
                                <div class="titles">
                                    <h3 class="iName"><a href="@url" title="Rockstar Nails">@UtilityHelper.TruncateAtWord(profile.Name, 14)</a></h3>
                                    <h4 class="iAddress">@state</h4>
                                </div>

                                <!-- remove code de test-->
                                <div class="votes">
                                    @switch (profile.Rate.ToString())
                                    {
                                        case "0":
                                            {                                               
                                                break;
                                            }
                                        case "1":
                                            {
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="gray"><img alt="Avatar" src="content/images/icons/gray_star.png"></span>
                                                <span class="gray"><img alt="Avatar" src="content/images/icons/gray_star.png"></span>
                                                <span class="gray"><img alt="Avatar" src="content/images/icons/gray_star.png"></span>
                                                <span class="gray"><img alt="Avatar" src="content/images/icons/gray_star.png"></span>
                                                break;
                                            }
                                        case "2":
                                            {
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="gray"><img alt="Avatar" src="content/images/icons/gray_star.png"></span>
                                                <span class="gray"><img alt="Avatar" src="content/images/icons/gray_star.png"></span>
                                                <span class="gray"><img alt="Avatar" src="content/images/icons/gray_star.png"></span>
                                                break;
                                            }
                                        case "3":
                                            {
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="gray"><img alt="Avatar" src="content/images/icons/gray_star.png"></span>
                                                <span class="gray"><img alt="Avatar" src="content/images/icons/gray_star.png"></span>
                                                break;
                                            }
                                        case "4":
                                            {
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="gray"><img alt="Avatar" src="content/images/icons/gray_star.png"></span>
                                                break;
                                            }
                                        case "5":
                                            {
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                <span class="yellow"><img alt="Avatar" src="content/images/icons/yellow_star.png"></span>
                                                break;
                                            }
                                    }
                                </div>
                                <p class="shortDes">@UtilityHelper.TruncateAtWord(profile.Desc, 80)</p>

                                <div class="group_link">
                                    @if (profile.CompanyAvailableTimeSlots.CompanyTimeSlots.Any())
                                    {
                                        foreach (var timeSlot in profile.CompanyAvailableTimeSlots.CompanyTimeSlots)
                                        {
                                            //var urlTime = Url.RouteUrl("Availability", new { seName = profile.GetSeName(profile.ProfileID), employeeId = timeSlot.EmployeeAvailableId, start = timeSlot.StartTime, categoryId = ViewBag.CategoryId, book = true });

                                            string urlTime = "https://kuyamqa1.apphb.com/" + "availability/" + seName + "?employeeId=" + timeSlot.EmployeeAvailableId
                                                + "&start=" + timeSlot.StartTime + "&categoryId=" + ViewBag.CategoryId + "&book=true";
                                            if (profile.CompanyAvailableTimeSlots.IsRederect)
                                            {
                                                //urlTime = Url.RouteUrl("BookingAvailability", new { seName = profile.GetSeName(profile.ProfileID) });
                                                urlTime = "https://kuyamqa1.apphb.com/" + "BookingAvailability/" + seName ;
                                            }
                                            <a href="@urlTime" title="@timeSlot.Title.ToLower()">@timeSlot.StartTime.ToString("h:mmtt").ToLower()</a>
                                        }

                                        if (profile.CompanyAvailableTimeSlots.IsShowMore)
                                        {
                                           // var urlShowMore = Url.RouteUrl("Availability", new { seName = profile.GetSeName(profile.ProfileID), categoryId = ViewBag.CategoryId });
                                            var urlShowMore = "https://kuyamqa1.apphb.com/" + "availability/" + seName + "?categoryId=" + ViewBag.CategoryId;
                                            if (profile.CompanyAvailableTimeSlots.IsRederect)
                                            {
                                                //urlShowMore = Url.RouteUrl("BookingAvailability", new { seName = profile.GetSeName(profile.ProfileID) });
                                                urlShowMore = "https://kuyamqa1.apphb.com/" + "BookingAvailability/" + seName;
                                            }
                                            <a href="@urlShowMore" title="more">more</a>

                                        }
                                    }

                                </div>
                                @if (profile.CompanyEvents.Any(x => x.StartDate.Value.AddDays(-3) <= pstNowTime && x.EndDate >= pstNowTime.AddDays(-1)))
                                {

                                    var companyEvent = profile.CompanyEvents.Where(x => x.StartDate.Value.AddDays(-3) <= pstNowTime && x.EndDate >= pstNowTime.AddDays(-1)).First();
                                    if ((profile.HasClassBooking && companyEvent.ClassEventsNumber > 0) || (companyEvent.CompanyServiceEventsNumber > 0))
                                    {
                                        <div class="sale"></div>
                                    }


                                }


                            </div>
                        </div>
                    }

                    <div class="clear"></div>
                    <p class="moreItems"><a href="@catUrl" title="more">more</a></p>
                </div>


            </div>

        }
    }
</div>
<script type="text/javascript">
    $('.categoryLnk').click(function () {
        var lat = $('#curLat').val();
        var lon = $('#curLon').val();
        var categoryId = $(this).attr('categoryId');


        var parameters = { lat: lat, lon: lon, categoryId: categoryId };
        $('.loading').show();

        $.ajax(
        {
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(parameters),
            dataType: 'html',
            url: '/home/RefreshCompanyInfoBar/'
        })
        .success(function (result) {
            $('#companyInfoBar').html(result);
            $('.loading').hide();

        })
        .error(function (error) {
            $('.loading').hide();

        });

    });
</script>

