@{
    Layout = "~/Views/Shared/_KuyamLayoutGrey.cshtml";
    ViewBag.Title = "MeetTheTeamTony";
}

    <img class="BodyTop" src="@Url.Content("~/images/About/MeditateTop.png")" alt="Schedule, Share, and Discover" />

    <ul class="GreenTabs">
        <li class="TabLeft">@Html.ActionLink("About", "About", "home")</li>
        <li class="TabCenter Here"></li>
        <li class="TabRight">@Html.ActionLink("Business Solutions", "BusinessSolutions", "home")</li>
    </ul>

    <a name="Top"></a>

    <img style="padding-right:40px" src="@Url.Content("~/images/MeetTheTeam/tonybig.png")" class="FloatLeft" alt="Tony Big" /><br />
    <span class="TeamName">Tony Rhoton/ "<b>The Doctor</b>"</span><br />
    <span class="TeamTitle">Co-Founder and Director of Marketing and Brand Manager</span><br />
    <p>
        Tony is a master of many talents; he's successfully balanced running
        a branding firm and being a dad for ten years, and now he's ready to
        apply those skills to kuyam. Some other talents include being good at
        every sport, acting, and growing a glorious beard.
    </p>

<div class="GreyBodyFooter">
<table width="100%">
    <tr>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamKourosh")#Top"><img src="@Url.Content("~/images/MeetTheTeam/kouroshsmall.png")" alt='kourosh small' /></a></td>
    <td align="center"><img src="@Url.Content("~/images/MeetTheTeam/tonytrans.png")" alt='tony trans' /></td>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamTodd")#Top"><img src="@Url.Content("~/images/MeetTheTeam/toddsmall.png")" alt='todd small' /></a></td>
    </tr>
    <tr>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamMatt")#Top"><img src="@Url.Content("~/images/MeetTheTeam/mattsmall.png")" alt='matt small' /></a></td>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamJackie")#Top"><img src="@Url.Content("~/images/MeetTheTeam/jackiesmall.png")" alt='jackie small' /></a></td>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamCory")#Top"><img src="@Url.Content("~/images/MeetTheTeam/corysmall.png")" alt='cory small' /></a></td>
    </tr>
</table>
</div>
