@{
    Layout = "~/Views/Shared/_KuyamLayoutGrey.cshtml";
    ViewBag.Title = "MeetTheTeamTodd";
}

    <img class="BodyTop" src="@Url.Content("~/images/About/MeditateTop.png")" alt="Schedule, Share, and Discover" />

    <ul class="GreenTabs">
        <li class="TabLeft">@Html.ActionLink("About", "About", "home")</li>
        <li class="TabCenter Here"></li>
        <li class="TabRight">@Html.ActionLink("Business Solutions", "BusinessSolutions", "home")</li>
    </ul>

    <a name="Top"></a>

    <img style="padding-right:40px" src="@Url.Content("~/images/MeetTheTeam/toddbig.png")" class="FloatLeft" alt="Todd Big" /><br />
    <span class="TeamName">Todd Zebert/ "<b>The Sherpa</b>"</span><br />
    <span class="TeamTitle">Co-Founder and director of Information Technology</span><br />
    <p>
        Todd is the company's macgyver, a swiss army knife of I.T. experience, entrepreneurship, and team leadership.
        Besides being the office wise guy, todd excels at critical thinking and getting the whole office
        to go out to happy hour.
    </p>

<div class="GreyBodyFooter">
<table width="100%">
    <tr>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamKourosh")#Top"><img src="@Url.Content("~/images/MeetTheTeam/kouroshsmall.png")" alt='kourosh small' /></a></td>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamTony")#Top"><img src="@Url.Content("~/images/MeetTheTeam/tonysmall.png")" alt='tony small' /></a></td>
    <td align="center"><img src="@Url.Content("~/images/MeetTheTeam/toddtrans.png")" alt='todd trans' /></td>
    </tr>
    <tr>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamMatt")#Top"><img src="@Url.Content("~/images/MeetTheTeam/mattsmall.png")" alt='matt small' /></a></td>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamJackie")#Top"><img src="@Url.Content("~/images/MeetTheTeam/jackiesmall.png")" alt='jackie small' /></a></td>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamCory")#Top"><img src="@Url.Content("~/images/MeetTheTeam/corysmall.png")" alt='cory small' /></a></td>
    </tr>
</table>
</div>