@{
    Layout = "~/Views/Shared/_KuyamLayoutGrey.cshtml";
    ViewBag.Title = "MeetTheTeamCory";
}

    <img class="BodyTop" src="@Url.Content("~/images/About/MeditateTop.png")" alt="Schedule, Share, and Discover" />

    <ul class="GreenTabs">
        <li class="TabLeft">@Html.ActionLink("About", "About", "home")</li>
        <li class="TabCenter Here"></li>
        <li class="TabRight">@Html.ActionLink("Business Solutions", "BusinessSolutions", "home")</li>
    </ul>

    <a name="Top"></a>

    <img style="padding-right:40px" src="@Url.Content("~/images/MeetTheTeam/Corybig.png")" class="FloatLeft" alt="Cory big" /><br />

    <span class="TeamName">Cory Sanford/ "<b>The ludologist</b>"</span><br />
    <span class="TeamTitle">Gamification Strategist</span><br />


    <p>
        Cory is a master of the dark art known by some as "gaming." When not
        developing meaningful interactions and engrossing experiences, Cory
        can be found doodling, photographing, and, of course, playing video games.
    </p>


<div class="GreyBodyFooter">
<table width="100%">
    <tr>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamKourosh")#Top"><img src="@Url.Content("~/images/MeetTheTeam/kouroshsmall.png")" alt='kourosh small' /></a></td>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamTony")#Top"><img src="@Url.Content("~/images/MeetTheTeam/tonysmall.png")" alt='tony small' /></a></td>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamTodd")#Top"><img src="@Url.Content("~/images/MeetTheTeam/toddsmall.png")" alt='todd small' /></a></td>
    </tr>
    <tr>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamMatt")#Top"><img src="@Url.Content("~/images/MeetTheTeam/mattsmall.png")" alt='matt small' /></a></td>
    <td align="center"><a href="@Url.Content("~/Home/MeetTheTeamJackie")#Top"><img src="@Url.Content("~/images/MeetTheTeam/jackiesmall.png")" alt='jackie small' /></a></td>
    <td align="center"><img src="@Url.Content("~/images/MeetTheTeam/corytrans.png")" alt='cory trans' /></td>
    </tr>
</table>
</div>