@using Kuyam.Database
@using Kuyam.Domain
@using M2.Util
@using Kuyam.Domain.Seo;
@model CompanyProfileSearch

@if (Model.CompanyTypeID == (int)Types.CompanyType.NonKuyamBookIt)
{
    if (Model.CompanyAvailableTimeSlots.CompanyHours != null && Model.CompanyAvailableTimeSlots.CompanyHours.Any())
    {
        <span class="availableDate @(Model.CompanyAvailableTimeSlots.IsAvailableToday ? "" : "grey")">@Model.CompanyAvailableTimeSlots.DayAvaiable:</span>
        <div class="hours">
            @foreach (CompanyHour companyHour in Model.CompanyAvailableTimeSlots.CompanyHours)
            {
                <span>
                    @(new DateTime().Date.Add(companyHour.FromHour).ToString("h:mmtt").ToLower()) - @(new DateTime().Date.Add(companyHour.ToHour).ToString("h:mmtt").ToLower())
                </span>
                <br />
            }
        </div>
    }
    else
    {
        <div class="hours">
            &nbsp;
        </div>
    }

    <input type="button" class="btnSchedule btnAvailability nonKuyam" title="check for availability"
           profileid="@Model.ProfileID"
           companyname="@Model.Name"
           phonenumber="@UtilityHelper.FormatPhone(Model.Phone)"
           companysite="@Model.Url"
           address="@string.Format("{0}. {1}, {2} {3}. </br>{4}", Model.Street1, Model.City, Model.State, Model.Zip, UtilityHelper.FormatPhone(Model.Phone))"
           value="check for availabitily" />
}
else if (Model.CompanyTypeID == (int)Types.CompanyType.GeneralAvailability)
{
    if (Model.CompanyAvailableTimeSlots.CompanyHours != null && Model.CompanyAvailableTimeSlots.CompanyHours.Any())
    {
        <span class="availableDate @(Model.CompanyAvailableTimeSlots.IsAvailableToday ? "" : "grey")">@Model.CompanyAvailableTimeSlots.DayAvaiable:</span>
        <div class="hours">
            @foreach (CompanyHour companyHour in Model.CompanyAvailableTimeSlots.CompanyHours)
            {
                <span>
                    @(new DateTime().Date.Add(companyHour.FromHour).ToString("h:mmtt").ToLower()) - @(new DateTime().Date.Add(companyHour.ToHour).ToString("h:mmtt").ToLower())
                </span>
                <br />
            }
        </div>
    }
    else
    {
        <div class="hours">
            &nbsp;
        </div>
    }
    var url = Url.RouteUrl("Availability", new { seName = Model.GetSeName(Model.ProfileID) });
    if (Model.CompanyAvailableTimeSlots.IsRederect)
    {
        url = Url.RouteUrl("BookingAvailability", new { seName = Model.GetSeName(Model.ProfileID) });
    }
    <a href="@url" class="checkAvailabitity companyLink" title="check for availabitily">
        check for availabitily
    </a>
}
else
{
    if (Model.CompanyAvailableTimeSlots.CompanyTimeSlots.Any())
    {
        // not show class for profile company search
        if (Model.HasClassBooking)
        {
            <span class="boxPrice">
                <span class="spanAvailable">@Model.CompanyAvailableTimeSlots.DayAvaiable:</span>
                @foreach (var timeSlot in Model.CompanyAvailableTimeSlots.CompanyTimeSlots)
                {
                    var url = Url.RouteUrl("class", new { seName = Model.GetSeName(Model.ProfileID), start = timeSlot.StartTime.ToString("MM/dd/yyyy hh:mm tt"), instructorClassSchedulerId = timeSlot.InstructorClassSchedulerId, book = true });
                    if (Model.CompanyAvailableTimeSlots.IsRederect)
                    {
                        url = Url.RouteUrl("BookingAvailability", new { seName = Model.GetSeName(Model.ProfileID) });
                    }
                    <a href="@url" class="btnAvailable" title="@timeSlot.Title.ToLower()">@timeSlot.Title.ToLower()</a>

                }

                @if (Model.CompanyAvailableTimeSlots.IsShowMore)
                {
                    var url = Url.RouteUrl("class", new { seName = Model.GetSeName(Model.ProfileID), categoryId = ViewBag.CategoryId });
                    if (Model.CompanyAvailableTimeSlots.IsRederect)
                    {
                        url = Url.RouteUrl("BookingAvailability", new { seName = Model.GetSeName(Model.ProfileID) });
                    }
                    <a href="@url" class="btnMore" title="more">more</a>


                }
            </span>
        }
        else
        {
            <span class="availableDate @(Model.CompanyAvailableTimeSlots.IsAvailableToday ? "" : "grey")">@Model.CompanyAvailableTimeSlots.DayAvaiable:</span>
            <div class="listTimeSlots">
                @foreach (var timeSlot in Model.CompanyAvailableTimeSlots.CompanyTimeSlots)
                {
                    var url = Url.RouteUrl("Availability", new { seName = Model.GetSeName(Model.ProfileID), employeeId = timeSlot.EmployeeAvailableId, start = timeSlot.StartTime, categoryId = ViewBag.CategoryId, book = true });
                    if (Model.CompanyAvailableTimeSlots.IsRederect)
                    {
                        url = Url.RouteUrl("BookingAvailability", new { seName = Model.GetSeName(Model.ProfileID) });
                    }
                    <a href="@url" class="companyTimeSlot" title="@timeSlot.Title.ToLower()">@timeSlot.StartTime.ToString("h:mmtt").ToLower()</a>
                }

                @if (Model.CompanyAvailableTimeSlots.IsShowMore)
                {
                    var url = Url.RouteUrl("Availability", new { seName = Model.GetSeName(Model.ProfileID), categoryId = ViewBag.CategoryId });
                    if (Model.CompanyAvailableTimeSlots.IsRederect)
                    {
                        url = Url.RouteUrl("BookingAvailability", new { seName = Model.GetSeName(Model.ProfileID) });
                    }
                    <a href="@url" class="companyTimeSlotMore companyTimeSlot" title="more">more</a>

                }
            </div>
        }


    }
    else
    {
        if (Model.CompanyAvailableTimeSlots.CompanyHours != null && Model.CompanyAvailableTimeSlots.CompanyHours.Any())
        {
            <span class="availableDate @(Model.CompanyAvailableTimeSlots.IsAvailableToday ? "" : "grey")">@Model.CompanyAvailableTimeSlots.DayAvaiable:</span>
            <div class="hours">
                @foreach (CompanyHour companyHour in Model.CompanyAvailableTimeSlots.CompanyHours)
                {
                    <span>
                        @(new DateTime().Date.Add(companyHour.FromHour).ToString("h:mmtt").ToLower()) - @(new DateTime().Date.Add(companyHour.ToHour).ToString("h:mmtt").ToLower())
                    </span>
                    <br />
                }
            </div>
        }
        else
        {
            <div class="hours">
                &nbsp;
            </div>
        }

        var url = Url.RouteUrl("Availability", new { seName = Model.GetSeName(Model.ProfileID) });
        if (Model.CompanyAvailableTimeSlots.IsRederect)
        {
            url = Url.RouteUrl("BookingAvailability", new { seName = Model.GetSeName(Model.ProfileID) });
        }
        <a href="@url" class="checkAvailabitity companyLink" title="check for availabitily">
            check for availabitily
        </a>

    }
}