@using Kuyam.Database;
@using Kuyam.WebUI.Models
@{
    ViewBag.Title = "Company class";
    Layout = "~/Views/Shared/_CompanyAdmin.cshtml";
    List<Service> categories = ViewBag.Categories;

    List<ServiceCompany> scList = new List<ServiceCompany>();
    if (ViewBag.CompanyServices != null)
    {
        scList = ViewBag.CompanyServices;
    }
    string scListIDs = string.Empty;
    if (ViewBag.StringSCListIDs != null)
    {
        scListIDs = ViewBag.StringSCListIDs;
    }
    CompanyEmployee employee = null;
    if (ViewBag.Employee != null)
    {
        employee = ViewBag.Employee;
    }
    string id = "0";
    if (Url.RequestContext.RouteData.Values["id"] != null)
    {
        id = Url.RequestContext.RouteData.Values["id"].ToString();
    }
    Profile profileCompany = ViewBag.ProfileCompany;
    string email = string.Empty;
    string firstName = string.Empty;
    string lastName = string.Empty;

    if (profileCompany != null && profileCompany.Cust != null)
    {
        email = profileCompany.Cust.Email;
        firstName = profileCompany.Cust.FirstName;
        lastName = profileCompany.Cust.LastName;
    }
}
<link href="/css/uploader/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/uploader/jquery.fileupload.js" type="text/javascript"></script>
<script src="/Scripts/uploader/jquery.fileupload-ui.js" type="text/javascript"></script>
<script src="/Scripts/uploader/jquery.fileupload-ip.js" type="text/javascript"></script>
<script src="/Scripts/uploader/jquery.fileupload-fp.js" type="text/javascript"></script>
<script src="/Scripts/jquery.form.js" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.maskedinput-1.3.min.js")"></script>
<script type="text/javascript">

    var companyId = '@ViewBag.companyId';
    var email="@(email)";
    var firstName= "@(firstName)";
    var lastName= "@lastName";
    var isVerified = '@(ViewBag.Verified)'

    $(function () {

        if (isVerified=='@((int)Kuyam.Database.Types.FlagInvite.Verified)') {
            $('#smserrormessage').hide();
            $("#verifiycode").hide();
            $('#btnsendsms').removeClass('btnsend').addClass('btnverified');
            $("#btnsendsms").prop('disabled', true);
            $("#btnsendsms").prop('title',"verification phone number");
            //$("#txtPhoneBlur").prop('disabled', true);
            $('#smsinviteCode').val("enter code");
            $('#forget').hide();
            $('.field-validation-error').hide();
            $('#btnsendsms').show();
        }else{
            $("#btnsendsms").prop('disabled', false);
            $('#btnsendsms').removeClass('btnverified').addClass('btnsend');
            $("#verifiycode").hide();
            $('#forget').hide();
        }
        $('#divErrorBox').hide();
        jQuery(function ($) {
            $("#rpostphone").mask("(999) 999-9999");
        });

        $("#accordion").accordion({
            collapsible: true,
            autoHeight: false
        });

        $("#defaultemployee").click(function () {
            showpopup("popupdefaultemp");
        });

        $(".pannelappointments").click(function () {
            $(".pannelappointments").removeClass("bgactive");
            $(this).addClass("bgactive");
        });

        $('#makedefault').checkBox();

        $('#tagservicelist li input[type="checkbox"]').checkBox();

        $('#categoryClasses, #service, #mobilecarrier').selectmenu();
        createtopleftscroll();
    });

    function addemployee () {
        $('.btnaddemployee').hide();
        $('#imgLoaderListDetail').show();

        var employeeName = $('#rpostename').val();
        var email = $('#rpostemail').val();
        var phone = $('#rpostphone').val();
        var paypal = $('#rpostpaypalemail').val();
        var employeeDefault=false;
        var err='';

        if ($('#makedefault').is(':checked')) {
            employeeDefault=true;
        }

        //employee name
        if (employeeName == '') {
            err=err+'employee name is required.</br>';

        } else {
            if (employeeName.length > 50) {
                err=err+'employee name must be less than 50 characters.</br>';
            }
        }

        //phone number
        if (phone == '') {
            //                err=err+'phone number is required.</br>';
        } else {

            if (phone.length > 50) {
                err=err+'phone number must be less than 50 characters.</br>';
            }
            var re = /^(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})$/;
            if (!phone.match(re)) {
                err=err+'invalid phone.</br>';
            }else if (isVerified=='@((int)Kuyam.Database.Types.FlagInvite.Unverified)') {
                err=err+'phone number is unverified.</br>';
            }
        }

        //email
        if (email == '') {
            err=err+'email is required.</br>';

        } else {
            if (email.length > 50) {
                err=err+'email must be less than 50 characters.</br>';
            }
            var reemail = /^([_a-zA-Z0-9-]+)(\.[_a-zA-Z0-9-]+)*@@([a-zA-Z0-9-]+\.)+([a-zA-Z]{2,3})$/;
            if (!reemail.test(email)) {
                err=err+'invalid e-mail address.</br>';

            }
        }
        //
        if (err=='') {
            var listServiceCompanyLi = document.querySelectorAll('.ckServiceCompany')
            var stringServiceCompanyIDList = '';
            if (listServiceCompanyLi && listServiceCompanyLi.length > 0) {
                for (var i = 0; i < listServiceCompanyLi.length; i++) {
                    if (listServiceCompanyLi[i].checked == true) {
                        stringServiceCompanyIDList += listServiceCompanyLi[i].attributes["serviceCompanyID"].value + ',';
                    }
                }
            }

            var parameters = { employeeName: employeeName, email: email, phone: phone, stringServiceCompanyIDs: stringServiceCompanyIDList,
                employeeDefault:employeeDefault,paypal:paypal,profileId:companyId };
            $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(parameters),
                    dataType: 'html',
                    url: '/company/AddInstructorInfo/'
                })
                .success(function (result) {
                    $('.btnaddemployee').show();
                    $('#imgLoaderListDetail').hide();
                    showDialog('addemployeepopup');
                    setTimeout( window.location.href ="/company/instructor?companyid="+companyId, 1000);
                })
                .error(function (error) {
                    $('#imgLoaderListDetail').hide();
                });
        }else{
            $('.btnaddemployee').show();
            $('#imgLoaderListDetail').hide();
            $('#divErrorBox').show();
            $('#errorlist').html(err);

        }

    }

    function updateemployee() {

        var employeeID = @id;
        var employeeName = $('#rpostename').val();
        var email = $('#rpostemail').val();
        var phone = $('#rpostphone').val();
        var paypal = $('#rpostpaypalemail').val();
        var employeeDefault=false;
        var err='';

        if ($('#makedefault').is(':checked')) {
            employeeDefault=true;
        }
        //employee name
        if (employeeName == '') {
            err=err+'employee name is required.</br>';

        } else {
            if (employeeName.length > 50) {
                err=err+'employee name must be less than 50 characters.</br>';
            }
        }

        //phone number
        if (phone == '') {
            //err=err+'phone number is required.</br>';
        } else {
            if (phone.length > 50) {
                err=err+'phone number must be less than 50 characters.</br>';
            }
            var re = /^(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})$/;
            if (!phone.match(re)) {
                err=err+'invalid phone.</br>';
            }else if (isVerified=='@((int)Kuyam.Database.Types.FlagInvite.Unverified)') {
                err=err+'phone number is unverified.</br>';
            }
        }

        //email
        if (email == '') {
            err=err+'email is required.</br>';

        } else {
            if (email.length > 50) {
                err=err+'email must be less than 50 characters.</br>';
            }
            var reemail = /^([_a-zA-Z0-9-]+)(\.[_a-zA-Z0-9-]+)*@@([a-zA-Z0-9-]+\.)+([a-zA-Z]{2,3})$/;
            if (!reemail.test(email)) {
                err=err+'invalid e-mail address.</br>';

            }
        }
        if (err=='') {
            var listServiceCompanyLi = document.querySelectorAll('.ckServiceCompany');
            var stringServiceCompanyIDList = '';
            if (listServiceCompanyLi && listServiceCompanyLi.length > 0) {
                for (var i = 0; i < listServiceCompanyLi.length; i++) {
                    if (listServiceCompanyLi[i].checked == true) {
                        stringServiceCompanyIDList += listServiceCompanyLi[i].attributes["serviceCompanyID"].value + ',';
                    }
                }
            }

            var parameters = { employeeID:employeeID, employeeName: employeeName, email: email, phone: phone, stringServiceCompanyIDs: stringServiceCompanyIDList,employeeDefault: employeeDefault,paypal: paypal,profileid:companyId };
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(parameters),
                dataType: 'html',
                url: '/company/EditEmployeeInfoNew/'
            })
            .success(function (result) {

                showDialog('savechangepopup');
                setTimeout( "timeOut();",1000);
            })
            .error(function (error) {
            });
        }else{
            $('#divErrorBox').css('margin-top', '-87px').css('margin-bottom', '47px')
            $('#divErrorBox').show();
            $('#errorlist').html(err);
        }
    }
    function timeOut(){
        window.location.href ="/company/instructor/" +@id+"?companyid="+companyId;
    }
    function delemployee () {

        var employeeID = @id;
        var parameters = { employeeID:employeeID,profileId:companyId};
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(parameters),
            dataType: 'html',
            url: '/company/DeleteEmployeeInFo/'
        })
        .success(function (result) {
            if(result == 'true'){
                showDialog('deletecompanychangepopup');
                setTimeout( window.location.href ="/company/instructor/?companyId="+companyId,1000);
            }
            else{
                alert('this employee is not allowed to delete!');
            }
        })
        .error(function (error) {
        });
    }
    function SendInviteCode() {

        var phoneNumber = $("#rpostphone").val();
        var param = "phoneNumber=" + phoneNumber+"&email="+email+"&firstName="+firstName+"&lastName="+lastName;
        if (phoneNumber == "")
            return
        commonPostAjax("Account", "SendInviteCode", param, sendcallbacksucess, setError, "html");
        $('#btnsendsms').hide();
        $('.busyIndicator').show();
    }
    function sendcallbacksucess(result) {

        if (result == "true") {
            $("#verifiycode").show();
            $('#btnsendsms').removeClass('btnsend')
            $("#btnsendsms").prop('disabled', true);
            $("#btnsendsms").prop('title',"sent! check your messages");
            //$("#txtPhoneBlur").prop('disabled', true);
            $('#forget').show();
            $('.busyIndicator').hide();
        }
        if (result == '@((int)Kuyam.Database.Types.FlagInvite.Verified)') {
            $('#btnsendsms').show();
            $('.busyIndicator').hide();
            alert("this phone is verified !");
        }
    }

    function VerifyInviteCode() {
        var inviteCode = $("#smsinviteCode").val();
        if (inviteCode == "" || inviteCode == "enter code") {
            $('#smserrormessage').show();
            return;
        }
        var param = "inviteCode=" + inviteCode;
        commonPostAjax("Account", "SMSVerifyInviteCode", param, verifycallbacksucess, setError, "html");
    }

    function verifycallbacksucess(result) {
        if (result == "true") {
            $('#smserrormessage').hide();
            $("#verifiycode").hide();
            $('#btnsendsms').addClass('btnverified');
            $("#btnsendsms").prop('disabled', true);
            $("#btnsendsms").prop('title',"verification phone number");
            //$("#txtPhoneBlur").prop('disabled', true);
            $('#smsinviteCode').val("enter code");
            $('#forget').hide();
            $('.field-validation-error').hide();
            $('#btnsendsms').show();
            isVerified = '@((int)Kuyam.Database.Types.FlagInvite.Verified)'
        } else {
            $('#smserrormessage').show();
            isVerified = '@((int)Kuyam.Database.Types.FlagInvite.Unverified)'
        }
    }

    function resendCode() {

        $("#verifiycode").hide();
        $('#btnsendsms').addClass('btnsend');
        $("#btnsendsms").prop('disabled', false);
        $("#btnsendsms").prop('title',"send SMS verification code");
        $('#forget').hide();
        $('#btnsendsms').show();
        $('.busyIndicator').hide();
        $('#smserrormessage').hide();
    }

    function resendCodecallbacksucess(result) {
        if (result == "true") {
            $('#btnsendsms').removeClass('btnverified');
            $("#verifiycode").show();
            $("#btnsendsms").prop('title',"sent! check your messages");
            setTimeout("hideDialog('resended')",1000);
            $('.busyIndicator').hide();
        }
    }

    function setDefaultvalue() {

        $("#verifiycode").show();
        $('#btnsendsms').removeClass('btnsend');
        $("#btnsendsms").prop('disabled', true);
        $("#btnsendsms").hide();
        $('#forget').show();
    }

    function checkPhoneNumber(phoneNumber)
    {
        var param = "phoneNumber=" + phoneNumber+ "&email="+ email+"&nocache=" + getunixtime();

        commonGetAjax("Setting", "CheckPhoneNumber", param, checkPhoneNumbercallbacksucess, setError, "html");
    }

    function checkPhoneNumbercallbacksucess(result)
    {
        if(result=="true"){
            isverification();
            $("#verifiycode").hide();
            $('#forget').hide();
            $('.field-validation-error').hide();
        }
        else if(result == '@((int)Kuyam.Database.Types.FlagInvite.Verified)'){
            $('#btnsendsms').show();
            $('.busyIndicator').hide();
            alert("this phone is verified !");
        }
        else{
            $("#btnsendsms").prop('disabled', false);
            $('#btnsendsms').removeClass('btnverified').addClass('btnsend');
            $("#verifiycode").hide();
            $('#forget').hide();
        }
    }

    function isverification() {
        $('#btnsendsms').removeClass('btnsend').addClass('btnverified');
        $("#btnsendsms").prop('disabled', true);

    }
    function gotoStatus(status) {
        window.location = "/CompanyAppointment/index/";
    }



    $(function() {
    
		
        $('.groupSelectName select,.selectMinute select,#category, #service, #allcategories, #anypayment').selectmenu();
		
        createtopleftscroll();
		
		
		
        $("#pkghistorypurchase").click(function(e){
            showpopup("pkgpurchasehistorypopup");
            $("#deletescroll").niceScroll("#pkgpcontent",{cursorborder:"",cursoropacitymin:1,cursorcolor:"#000000",boxzoom:false, cursorwidth: 14, cursorborderradius: 0}).resize();			
        });
		
        $("#pkgdetail").click(function(e){
            showpopup("pkgdetailpopup");
            $("#pkgdetailscroll").niceScroll("#pkgdetailcontent",{cursorborder:"",cursoropacitymin:1,cursorcolor:"#000000",boxzoom:false, cursorwidth: 14, cursorborderradius: 0}).resize();	
        });
		
        $('#btnaddclasses').click(function () {
            //$('#comfirmationpopup').fadeOut(400);
            showpopup("popupClasses");
            $('#service').val(-1);
            $('#txtTimeDuration').val('');
            $('#txtPrice').val('');
            $('#txtMaxPeople').val('');
            $('#txtDescription').val('');
            $('#categoryClasses').val(-1);
            $('#eventStartDate').val('start date');
            $('#eventEndDate').val('end date');
        });
		
    });
</script>
<style type="text/css">
    .listservices .employeebasedcol1 .leftaddnew1, .listservices .employeebasedcol2 .rightaddnew1 {
        behavior: url(PIE.htc);
    }
</style>
<div class="contentMarketPlace ml2">
    <div class="bgMainContent">
        @Html.Partial("_CompanyAdminLeftTab")
        <div class="colRight">
            <div class="editserviceform companypackageform">
                <div class="companypackagebox">
                    <div class="companypackageboxtext">
                        <h1>classes</h1>
                        <div class="clear3"></div>
                      
                    </div>
                    <div class="companypackageboxbutton">
                        <a href="#" title="add classes" id="btnaddclasses" class="btncreatepackage">add classes</a>
                    </div>
                    <div class="clear3"></div>
                    <div class="line"></div>
                    <div class="clear6"></div>
                </div>
                <div class="clear"></div>
                <!--begin classes-week-cols--><!--end classes-week-cols-->
                <div class="listClasses">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <th width="20%">Class Name</th>
                            <th width="10%">Duration</th>
                            <th width="10%">Price</th>
                            <th width="10%">People slot</th>
                            <th width="10%">Start Date</th>
                            <th width="10%">End Date</th>
                            <th width="10%"></th>
                        </tr>
                        @if (scList != null && scList.Count > 0)
{
    for (int i = 0; i < scList.Count; i++)
    {
        var classTr = i%2 == 0 ?"event":"odd";
                        <tr class="@classTr">
                            <td>@scList[i].ServiceName</td>
                            <td>@scList[i].Duration</td>
                            <td>@scList[i].Price.Value</td>
                            <td>@scList[i].AttendeesNumber.Value</td>
                            <td>@scList[i].FromDateTime.Value.ToString("M/d/yyyy")</td>
                            <td>@scList[i].ToDateTime.Value.ToString("M/d/yyyy")</td>
                            <td> <a class="lnkDelete" classname="@scList[i].ServiceName" classid="@scList[i].ServiceCompanyID" title="">Delete</a></td>
                        </tr>
    }
}
                       
                    </table>
                </div>
                <div class="clear"></div>
            </div>
        </div>    
        <div class="clear">
        </div>
    </div>
    <!--begin popupClasses-->
    <div id="popupClasses" class="listservices">
        <div class="listservicescol1">
            <a class="btnClose" title="Close" href="JavaScript:void(0);">X</a>
            <input id="hdnServiceCompanyId" type="hidden" />
            <div class="formaddlistservices1"></div>
            <div class="formaddlistservices">
                <div class="selectcat">
                    <select name="category" id="categoryClasses" class="selectcatagory">

                        @{

                            <option value="-1" selected>select from categories</option>
                            foreach (Service category in categories)
                            {
                                <option value="@category.ServiceID" serviceid="@category.ServiceID" @(ViewBag.CategoriID != null && ViewBag.CategoriID == category.ServiceID ? "selected=selected" : "")>@Kuyam.Domain.UtilityHelper.TruncateText(category.ServiceName, 25)</option>

                            }


                        }

                    </select>
                </div>
                <div class="clear"></div>
                <div class="selectservice" id="serviceSelect">
                    <select name="category" id="service" class="selectservice">
                        <option value="select from service" selected="selected">select from service</option>
                    </select>
                </div>
                <div class="clear"></div>
                <div class="timeduration">
                    <div class="timedurationcol1">
                        time duration
                    </div>
                    <div class="timedurationcol2">
                        <div class="formtext">
                            <div class="ltxt"></div>
                            <div class="ctxt">
                                <input id="txtTimeDuration" onkeypress="return isNumberKey(event)" type="text" />
                            </div>
                            <div class="rtxt"></div>
                        </div>
                        <div class="title">
                            minutes:
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="price">
                    <div class="timedurationcol1">
                        price
                    </div>
                    <div class="timedurationcol2">

                        <div class="formtext">
                            <div class="ltxt"></div>
                            <div class="ctxt">

                                <input id="txtPrice" type="text" onkeypress="return isNumberKey(event)" />
                            </div>
                            <div class="rtxt"></div>
                        </div>
                        <div class="title">
                            $
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="maxpeople">
                    <div class="timedurationcol1">
                        max people per slot
                    </div>
                    <div class="timedurationcol2">
                        <div class="formtext">
                            <div class="ltxt"></div>
                            <div class="ctxt">
                                <input id="txtMaxPeople" type="text" value="1" onkeypress="return isNumberKey(event)" />
                            </div>
                            <div class="rtxt"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="maxpeople">
                    <div class="timedurationcol1">
                        Start Date
                    </div>
                    <div class="timedurationcol2">
                        <div class="formtext">
                            <div class="ltxt"></div>
                            <div class="ctxt Width85">
                                <input type="text" value="start date"
                                       onfocus="if (this.value=='start date') {this.value = '';}"
                                       onblur="if (this.value==''){this.value='start date';}" id="eventStartDate" />
                            </div>
                            <div class="rtxt"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="maxpeople">
                    <div class="timedurationcol1">
                        End Date
                    </div>
                    <div class="timedurationcol2">
                        <div class="formtext">
                            <div class="ltxt"></div>
                            <div class="ctxt Width85">
                                <input type="text" value="end date"
                                       onfocus="if (this.value=='end date') {this.value = '';}"
                                       onblur="if (this.value==''){this.value='end date';}" id="eventEndDate" />
                            </div>
                            <div class="rtxt"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="bried">
                    <div class="title">
                        brief description
                    </div>
                    <div class="clear"></div>
                    <div class="formtextare">
                        <textarea id="txtDescription" class="textareainactive" type="text" col="5" row="2"
                                  onfocus="if (this.value=='150 max characters') {this.value = '';}this.className = '';"
                                  onblur="if (this.value==''){this.value='150 max characters';this.className = 'textareainactive';}">
                            150 max characters
                        </textarea>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear6"></div>
                
                <input class="btnsave" type="button" title="save" value="save">
                <div id="divErrorBox" style="width: 292px; margin-top: 5px; color: Red;">
                    <div class="ui-state-error ui-corner-all">
                        <div style="position: relative;">
                            <div id='errorlist' style="padding: 4px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear6"></div>
                <div class="clear"></div>
            </div>
                        </div>
                    </div>

    <div id="addemployeepopup" class="savechangepopup">
        <div class="contentpopup">
            <p>
                added a new class successfully...
            </p>
        </div>
    </div>
    <div id="savechangepopup" class="savechangepopup">
        <div class="contentpopup">
            <p>
                your changes are saved...
            </p>
        </div>
    </div>
    <div id="deletecompanychangepopup" class="savechangepopup">
        <div class="contentpopup">
            <p>
                Delete Success.
            </p>
        </div>
    </div>
</div>
<div id="lightBox" class="lightBox">
</div>

<script type="text/javascript">

    var companyId = '@ViewBag.companyId';

    $(document).ready(function () {

        $('#eventStartDate, #eventEndDate').datepicker({});

        $('#divErrorBox').hide();
        

        $('#categoryClasses').change(function () {
            var categoryID = $('#categoryClasses').val();
            var parameters = { categoryID: categoryID };
            $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(parameters),
                    dataType: 'html',
                    url: '/company/GetServices/'
                })
                .success(function (result) {
                    var result = JSON.parse(result);
                    if (result != "") {
                        $('#serviceSelect').html('');
                        $('#serviceSelect').html(result);
                        $('select#service').selectmenu();
                        $('#serviceSelect').attr("class", "selectservice selectserviceactive");
                    } else {
                        $('#serviceSelect').html("<select name=\"category\" id=\"service\" class=\"selectservice selectserviceactive\"><option value=\"select from service\" selected=\"selected\">select from service</option>");
                        $('select#service').selectmenu();
                        $('#service-button').attr("aria-disabled", "true");
                        $('#serviceSelect').attr("class", "selectservice");
                    }

                })
                .error(function (error) {

                });
        });

        
        $('.lnkEdit').click(function () {
            var serviceCompanyID = $(this).attr('id');      
            showpopup("popupClasses");

            var tr = $(this).closest('tr');
            currentRow = tr;
            $('#hdnServiceCompanyId').val($(this).attr('id'));            
            $('#txtTimeDuration').val($.trim(tr.find('td:nth-child(2)').text()));   
            $('#txtPrice').val($.trim(tr.find('td:nth-child(3)').text()));
            $('#txtMaxPeople').val($.trim(tr.find('td:nth-child(4)').text()));
            $('#eventStartDate').val($.trim(tr.find('td:nth-child(5)').text()));
            $('#eventEndDate').val($.trim(tr.find('td:nth-child(6)').text()));
            $('#txtDescription').val($.trim(tr.find('td:nth-child(7)').text()));         

        });

        $('.lnkDelete').click(function () {
            var serviceCompanyID = $(this).attr('classid');      
            var className = $(this).attr('classname');
            var parameters = { serviceCompanyID: serviceCompanyID, profileId:companyId};

            var result = confirm("Want to delete " + className + "?");
            if (result==false) {
                return ;
            }

            $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(parameters),
                    dataType: 'html',
                    url: '/company/DeleteServiceCompany/'
                })
                .success(function (result) {
                    if (result=='false') {
                        alert("can not delete this service");
                        return false;
                    }else{
                        window.location.href = '/company/class/?companyId='+companyId;
                        return true;
                    }
                })
                .error(function (error) {

                });
        });


        $('.btnsave').click(function () {
            var id= $('#hdnServiceCompanyId').val();
            if(id != null && id!= 0)
            {
                updateService(id);
                return false;
            }
            var serviceID = $('#service').val();
            var timeDuration = $('#txtTimeDuration').val();
            var price = $('#txtPrice').val();
            var maxPeople = $('#txtMaxPeople').val();
            var description = $('#txtDescription').val();
            var category = $('#categoryClasses').val();
            var start = $('#eventStartDate').val();
            var end = $('#eventEndDate').val();
            var err = "";
            if (category == '' || category == '-1') {
                err = err + 'select category first.<br/>';
            } else {

                if (serviceID == '' || serviceID == 'select from service') {
                    err = err + 'please select service.<br/>';
                } else {
                    if (timeDuration == '' || timeDuration <= 0) {
                        err = err + 'time duration is required.<br/>';
                    }
                    if (timeDuration >= 2147483647) {
                        err = err + 'invalid time duration value.<br/>';
                    }
                    if (maxPeople >= 2147483647) {
                        err = err + 'invalid max people value.<br/>';
                    }
                    if (price == '' || price <= 0) {
                        err = err + 'price is required.<br/>';
                    }
                    if (price >= 2147483647) {
                        err = err + 'invalid price value.<br/>';
                    }
                    if (maxPeople == '' || maxPeople <= 0) {
                        err = err + 'max people per slot is required.<br/>';
                    }
                    if (description == "150 max characters") {
                        description = '';
                    }

                    if (start =='start date' || end == 'end date' ||new Date(end) < new Date(start)) {
                        alert('please input correct event date');
                        return;
                    }

                }
            }
            if (err == '') {
                $('#divErrorBox').hide();
                var parameters = { serviceID: serviceID, time: timeDuration, price: price, maxPeople: maxPeople, description: description, start: start, end: end , profileid: companyId  };
                $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(parameters),
                    dataType: 'html',
                    url: '/company/AddClass/'
                })
                .success(function (result) {
                    window.location.href = '/company/class/?companyId=' + companyId;
                })

                .error(function (error) {

                });
            } else {
                $('#divErrorBox').show();
                $('#errorlist').html(err);
            }

        });

        $('.serviceCompany').click(function () {
            var id = $(this).attr('serviceCompanyID');
            window.location.href = "/Company/CompanyServiceEdit/" + id + "?companyId=" + companyId;
            return false;
        });

        function gotoStatus(status) {
            window.location.href = "/CompanyAppointment/";
        }

        
        $(document).ready(function () {
            $("#ui-accordion-accordion-header-2").click(function () {
                if (window.location.href.indexOf("calendarview") == -1) {
                    window.location = "/calendarview/";
                }
            });
        });


    });

    function updateService(id) {
       
        var timeDuration = $('#txtTimeDuration').val();
        var price = $('#txtPrice').val();
        var maxPeople = $('#txtMaxPeople').val();
        var description = $('#txtDescription').val();
        var category = $('#categoryClasses').val();
        var start = $('#eventStartDate').val();
        var end = $('#eventEndDate').val();
        var err = "";
        

            
                if (timeDuration == '' || timeDuration <= 0) {
                    err = err + 'time duration is required.<br/>';
                }
                if (timeDuration >= 2147483647) {
                    err = err + 'invalid time duration value.<br/>';
                }
                if (maxPeople >= 2147483647) {
                    err = err + 'invalid max people value.<br/>';
                }
                if (price == '' || price <= 0) {
                    err = err + 'price is required.<br/>';
                }
                if (price >= 2147483647) {
                    err = err + 'invalid price value.<br/>';
                }
                if (maxPeople == '' || maxPeople <= 0) {
                    err = err + 'max people per slot are required.<br/>';
                }
                if (description == "150 max characters") {
                    description = '';
                }

                if (start =='start date' || end == 'end date' ||new Date(end) < new Date(start)) {
                    alert('please input correct event date');
                    return;
                }

            
        
        if (err == '') {
            $('#divErrorBox').hide();
            var parameters = { serviceCompanyID: id, time: timeDuration, price: price, maxPeople: maxPeople, description: description, start: start, end: end };
            $.ajax(
            {
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(parameters),
                dataType: 'html',
                url: '/company/UpdateClass/'
            })
            .success(function (result) {
                window.location.href = '/company/class/?companyId=' + companyId;
            })

            .error(function (error) {

            });
        } else {
            $('#divErrorBox').show();
            $('#errorlist').html(err);
        }

    }

</script>
