@model Kuyam.WebUI.Models.ResetPasswordModel
@using M2.Util.MVC
@using M2.Util
@{
    ViewBag.Title = "Reset Password";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        <div class="editor-label-min">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <br />
        if (Model.Message != null && !Model.Message.IsNullOrEmpty())
        { 
            <br /><br />
            @Model.Message
            <br />
        }
        <br />
        @Html.SaveCancelLC("reset password", "resetting")
}
